{% extends "base.html" %}
{% block body %}
<br>
<div class="card border border-dark">
    <div class="card-header border border-dark bg-header text-white">
        <h2>Current <span class="operator">Callback Tree</span></h2>
    </div>
    <div class="card-body bg-card-body border border-dark shadow">
        <div id="callbacktree" style="white-space: pre-wrap" v-html="callback_tree_data"></div>
    </div>
</div>

<button type="button" class="btn btn{{config['outline-buttons']}}info btn-md" onclick="show_removed_button()">Toggle Removed</button>
<button type="button" class="btn btn{{config['outline-buttons']}}info btn-md" onclick="show_removed_strike_button()">Toggle Strikethrough</button>
<button type="button" class="btn btn{{config['outline-buttons']}}warning btn-md" onclick="adjust_callback_relationship_button()">Adjust Callback Relationship</button>
<br><br>
<div class="card border border-dark">
    <div class="card-header border border-dark bg-header text-white">
        <h2>Payload, C2Profile, Callback <span class="operator">Relationships</span></h2>
    </div>
    <div class="card-body bg-card-body border border-dark shadow">
        <p>This analytic displays which callbacks were created from which payloads.</p>
        <div id="payloadtree" style="white-space: pre-wrap" v-html="payload_tree_data"></div>
    </div>
</div>

<button type="button" class="btn btn{{config['outline-buttons']}}info btn-md" onclick="show_removed_payload_button()">Toggle Removed</button>
<button type="button" class="btn btn{{config['outline-buttons']}}info btn-md" onclick="show_removed_payload_strike_button()">Toggle Strikethrough</button>

<br><br>
<div class="card border border-dark shadow-sm" id="commandFrequencies">
    <div class="card-header border border-dark bg-header text-white">
        <h2>Command Usage <span class="operator">Frequencies</span></h2>
    </div>
    <div class="card-body bg-card-body">
        <div class="card border-0 bg-transparent" v-for="(v, k, i) in frequencies" style="display:inline-block;padding:8px;vertical-align:top">
            <div class="card-header shadow border border-dark bg-info text-white"><h5>[[k]]'s command usage</h5></div>
            <div class="card-body shadow border border-dark" style="padding:0">
                <table v-for="(v2, k2, i2) in v" style="display: inline-block;vertical-align:top;word-wrap: break-word" class="border border-dark shadow table-striped {{config['table-color']}} table-hover">
                    <tr>
                        <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">[[k2]]'s Commands </font></th>
                        <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Count </font></th>
                    </tr>
                    <tr v-for="(v3, k3, i3) in v2" v-if="k3 != 'total_count'">
                            <td style="padding: 0px 20px 0px 20px">[[k3]]</td>
                            <td style="padding: 0px 0px 0px 20px">[[v3]]</td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 20px 0px 20px">Total Commands</td>
                        <td style="padding: 0px 0px 0px 20px">[[ v2['total_count'] ]]</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer border border-dark shadow">
                <b>Total Commands: [[ total_counts[k] ]]</b>
            </div>
        </div>
    </div>
</div>
<!-- THIS IS OUR MODAL FOR ADJUSTING RELATIONSHIP -->
<div class="modal fade" id="adjustCallbackRelationshipModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-header text-white">
                <h3>Adjust Callback Relationship</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
              <div class="modal-body">
                  <h4>Select Parent Callback:</h4>
                  <select id="adjustCallbackRelationshipParentCallback" v-model="parent">
                      <option value="-1">No Parent</option>
                      <option v-for="c in callbacks" :value="c.id" :key="c.id">[[c.user]]@[[c.host]]([[c.pid]]) - [[c.description]]</option>
                  </select>
                  <h4>Select Child Callback:</h4>
                  <select id="adjustCallbackRelationshipChildCallback" v-model="child">
                      <option v-for="c in callbacks" :value="c.id" :key="c.id">[[c.user]]@[[c.host]]([[c.pid]]) - [[c.description]]</option>
                  </select>
              </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="adjustCallbackRelationshipSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR ADJUSTING RELATIONSHIP -->
<br>
<div class="card border border-dark shadow" id="artifactAnalysis">
    <div class="card-header border border-dark bg-header text-white shadow">
        <h2>Artifact Creation <span class="operator">Overview</span></h2>
    </div>
    <div class="card-body bg-card-body shadow">
        <div class="card-columns" style="column-count:2">

            <div class="card border-0 bg-transparent" v-for="(v, k, i) in artifacts" style="display:inline-block;padding:8px;vertical-align:top;">
                <div class="card-header shadow border border-dark bg-info text-white"><h4>[[k]]</h4></div>
                <div class="card-body bg-card-body shadow border border-dark" style="padding:0">
                    <table v-for="(v2, k2, i2) in v" style="word-wrap:break-word;table-layout:fixed;width:100%;padding:30px" v-if="k2 != 'total_count'" class="table-striped {{config['table-color']}} table-hover">
                        <tr style="height:20px;">
                            <th onclick="sort_table(this)" style="width:20%;padding: 0px 20px 0px 20px"><font size="4">[[k2]] </font></th>
                            <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Artifact Template </font></th>
                        </tr>
                        <tr v-for="(v3, k3, i3) in v2">
                                <td style="padding: 0px 20px 0px 20px">[[k3]]</td>
                                <td style="padding: 0px 0px 0px 20px"><span v-for="v4 in v3">[[v4.artifact_string]]<br></span></td>
                        </tr>
                        <tr>
                            <td style="padding: 0px 20px 0px 20px"><b>Total Commands</b></td>
                            <td style="padding: 0px 0px 0px 20px"><b>[[ Object.keys(v2).length ]]</b></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer border border-dark shadow">
                    <b>Total Artifacts: [[ v['total_count'] ]]</b>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card border border-dark" id="callbackAnalysis">
    <div class="card-header border border-dark bg-header text-white">
        <h2> <span class="operator">Callbacks</span> Overview</h2>
    </div>
    <div class="card-body bg-card-body">
        <div class="card-columns" style="column-count:2">

            <div class="card border-0 bg-transparent" style="display:inline-block;padding:8px;vertical-align:top;">
                <div class="card-header shadow border border-dark bg-info text-white"><h5>Callbacks by Host</h5></div>
                <div class="card-body bg-card-body shadow border border-dark" style="padding:0px" >
                    <table style="word-wrap:break-word;table-layout:fixed;width:100%" class="table-striped {{config['table-color']}} table-hover">
                        <tr style="height:20px">
                            <th onclick="sort_table(this)" style="width:40%;padding:0px 20px 0px 20px"><font size="4">Host </font></th>
                            <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Callbacks </font></th>
                        </tr>
                        <tr v-for="(cb, host, i) in callbacks['host']">
                            <td style="width:40%;padding:0px 20px 0px 20px">[[host]] ([[cb.length]])</td>
                            <td style="padding: 0px 20px 0px 20px"><span v-for="instance in cb">ID <a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/split_callbacks/' + instance.id">[[instance.id]]</a> : [[instance.user]]( [[instance.pid]] ) at [[instance.init_callback]] UTC<br></span></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer border border-dark shadow">
                    <b>Total Callbacks: [[ callbacks['total_count'] ]]</b>
                </div>
            </div>
            <div class="card border-0 bg-transparent" style="display:inline-block;padding:8px;vertical-align:top;">
                <div class="card-header shadow border border-dark bg-info text-white"><h5>Callbacks by UTC Date</h5></div>
                <div class="card-body bg-card-body shadow border border-dark" style="padding:0px">
                    <table style="word-wrap:break-word;table-layout:fixed;width:100%" class="table-striped {{config['table-color']}} table-hover">
                        <tr style="height:20px">
                            <th onclick="sort_table(this)" style="width:30%;padding: 0px 20px 0px 20px"><font size="4">Date </font></th>
                            <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Callbacks </font></th>
                        </tr>
                        <tr v-for="(cb, date, i) in callbacks['date']">
                            <td style="width:30%;padding: 0px 20px 0px 20px">[[date]] ([[cb.length]])</td>
                            <td style="padding: 0px 20px 0px 20px"><span v-for="instance in cb">ID <a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/split_callbacks/' + instance.id">[[instance.id]]</a> : [[instance.user]]( [[instance.pid]] ) on [[instance.host]]<br></span></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer border border-dark shadow">
                    <b>Total Callbacks: [[ callbacks['total_count'] ]]</b>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card border border-dark" id="artifactOverview">
    <div class="card-header border border-dark bg-header text-white">
        <h2><span class="operator">Artifacts</span> Operational Overview</h2>
    </div>
    <div class="card-body bg-card-body">
        <div class="card-columns" style="column-count:2">

            <div class="card border-0 bg-transparent" style="display:inline-block;padding:8px;vertical-align:top;">
                <div class="card-header shadow border border-dark bg-info text-white"><h5>Artifact Statistics</h5></div>
                <div class="card-body bg-card-body shadow border border-dark" style="padding:0px">
                    <table style="word-wrap:break-word;table-layout:fixed;width:100%" class="table-striped {{config['table-color']}} table-hover">
                        <tr style="height:20px">
                            <th onclick="sort_table(this)" style="width:40%;padding: 0px 20px 0px 20px"><font size="4">Artifact </font></th>
                            <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Automatic </font></th>
                            <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Manual </font></th>
                            <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Total </font></th>
                        </tr>
                        <tr v-for="(v, artifact, i) in artifacts['artifact_counts']" v-if="artifact != 'total_count'">
                            <td style="padding: 0px 20px 0px 20px">[[artifact]]</td>
                            <td style="text-align:center;padding: 0px 20px 0px 20px">[[ v['automatic'] ]]</td>
                            <td style="text-align:center;padding: 0px 20px 0px 20px">[[ v['manual'] ]]</td>
                            <td style="text-align:center;padding: 0px 20px 0px 20px">[[ v['automatic'] + v['manual'] ]]</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer border border-dark shadow">
                    <b>Total Created Artifacts: [[ artifacts.artifact_counts['total_count'] ]]</b>
                </div>
            </div>
            <div class="card border-0 bg-transparent" style="display:inline-block;padding:8px;vertical-align:top;">
                <div class="card-header shadow border border-dark bg-info text-white"><h5>File Statistics</h5></div>
                <div class="card-body bg-card-body shadow border border-dark" style="padding:0px">
                    <table style="word-wrap:break-word;table-layout:fixed;width:100%;" class="table-striped {{config['table-color']}} table-hover">
                        <tr style="height:20px">
                            <th onclick="sort_table(this)" style="width:30%;padding: 0px 20px 0px 20px"><font size="4">Type </font></th>
                            <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Total </font></th>
                            <th style="padding: 0px 20px 0px 20px" onclick="sort_table(this)"><font size="4">Operator Breakdown </font></th>
                        </tr>
                        <tr v-for="(data, category, i) in artifacts['files']">
                            <td style="padding: 0px 20px 0px 20px">[[category]]</td>
                            <template v-if="category != 'staged_files'">
                                <td style="padding: 0px 20px 0px 20px">[[ data['total_count'] ]]</td>
                                <td style="padding: 0px 20px 0px 20px"><span v-for="(num, operator, i) in data['operators']">[[operator]]: [[num]]<br></span></td>
                            </template>
                            <template v-else>
                                <td style="padding: 0px 20px 0px 20px">[[data]]</td>
                                <td></td>
                            </template>
                        </tr>
                    </table>
                </div>
                <div class="card-footer border border-dark shadow">
                    <b>Total Files: [[ artifacts.files.staged_files + artifacts.files.manual_uploads.total_count + artifacts.files.download_files.total_count + artifacts.files.upload_files.total_count]]</b>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block scripts %}
{% include "analytics.js" %}
{% endblock %}

{% block body_config %}

{% endblock %}
