{% extends "base.html" %}
{% block body %}

<h2>
    Interacting with Apfell API via CLI
</h2>
All of these APIs are subject to change in future versions.
<br><strong>Note:</strong> If you're using SSL with a self-signed cert on the server, you'll need to add "--insecure" to the curl commands.
<br><strong>Note:</strong> You MUST get a valid JWT and pass it along for your CLI requests (this is part of the authenticated RESTful interface).
{% for group in cld.all_api %}
<div class="card border border-dark shadow" id="OperatorInfo">
    <div class="card-header bg-header text-white"><h3>{{ group.name}} API Information</h3></div>
    <div class="card-body pre-scrollable bg-card-body border border-dark shadow" style="padding:0">
        <table class="table table-striped {{config['table-color']}} table-hover">
            {% for option in group.api %}
            <tr><td><dl>
                <dt>
                {% if option.GET %}
                    <span class="display">GET {{option.GET}}</span>
                <dd><span class="operator"><b>Explanation:</b></span> {{ option.explanation}}</dd>
                <dd><span class="operator"><b>CLI example:</b></span> {{option.cli}} </dd>
                <dd><span class="operator"><b>Output Sample:</b></span> {{option.output}}</dd>
                {% elif option.DELETE %}
                    <span class="display">DELETE {{option.DELETE}}</span>
                <dd><span class="operator"><b>Explanation:</b></span> {{ option.explanation}}</dd>
                <dd><span class="operator"><b>CLI example:</b></span> {{option.cli}} </dd>
                <dd><span class="operator"><b>Output Sample:</b></span> {{option.output}}</dd>
                {% else %}
                    {% if option.POST %}
                        <span class="display">POST {{option.POST}}</span>
                    {% else %}
                        <span class="display">PUT {{option.PUT}}</span>
                    {% endif %}
                <dd><span class="operator"><b>Explanation:</b></span> {{option.explanation}}</dd>
                <dd><span class="operator"><b>CLI example:</b></span> {{option.cli}}</dd>
                <dd><span class="operator"><b>Output Sample:</b></span> {{option.output}}</dd>
                    <dd><span class="display">Parameters:</span><ul>
                        {% for param in option.parameters %}
                        <li><span class="operator"><b>Name:</b></span> {{param.name}}</li>
                            <ul>
                                <li><span class="operator"><b>Description:</b></span> {{param.description}}</li>
                                <li><span class="operator"><b>Requirements:</b></span> {{param.requirements}}</li>
                            </ul>
                        {% endfor %}
                    </ul></dd>
                {% endif %}
                </dt>
            </dl></td></tr>
            {% endfor %}
        </table>
    </div>
</div><br>
{% endfor %}

{% endblock %}
{% block scripts %}

{% endblock %}

{% block body_config %}

{% endblock %}