{% extends "base.html" %}
{% block body %}
<br>
<div id="payloadTypesDiv">
    <div style="resize: vertical; overflow:visible" class="card border border-dark shadow">
        <div class="card-header border border-dark bg-header text-white shadow">
            <h2 style="display: inline-block"><span class="operator">[[current_type.ptype]]</span> Command Listing</h2>
            <select id="payloadtypeChoice" style="float:right">
                <option v-for="ptype in payloadtypes" v-model="current_type" :value="ptype.ptype">[[ptype.ptype]]</option>
            </select><br>
            <span><b>Execution Guidance:</b> [[current_type.execute_help]]</span><br>
        </div>

        <table class="table table-striped {{config['table-color']}} table-hover" >
            <tr>
                <th onclick="sort_table(this)"><b>Command</b></th>
                <th onclick="sort_table(this)"><b>Help</b></th>
                <th onclick="sort_table(this)"><b>description</b></th>
                <th onclick="sort_table(this)" style="width:9rem"><b>Needs Admin</b></th>
            </tr>
            <tr v-for="c in commands" :class="c.needs_admin ? 'highlightRow' : ''">
                <td>[[ c.cmd ]]</td>
                <td>[[ c.help_cmd ]]</td>
                <td>[[ c.description ]]</td>
                <td>[[ c.needs_admin ]]</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% include "apiui_command_help.js" %}
{% endblock %}

{% block body_config %}
tr.highlightRow{
    background-color:{{ config['highlight']}};
    color: {{ config['highlight-text'] }}
}
{% endblock %}