{% extends "base.html" %}
{% block body %}

<br>
<button type="button" class="btn btn{{config['outline-buttons']}}success btn-md" onclick="register_button()"><i class="fas fa-plus"></i> C2 Profile</button>
<button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="reset_default_profiles_button()">Reset Default Profiles</button>
<button type="button" class="btn btn{{config['outline-buttons']}}info btn-sm" onclick="import_button()" data-toggle="tooltip" title="Import new C2 Profile"><i class="fa fa-file-import fa-2x"></i></button><br><br>
<div class="card border border-dark shadow" id="c2profiles_table">
    <div class="card-header border border-dark bg-header text-white shadow">
        <h2><span class="operator">Global C2 Profile</span> Docker Configurations</h2>
    </div>
    <div class="card-body border border-dark bg-card-body shadow">
        <div class="card align-top border-0 bg-transparent"  v-for="p in profiles" :key="p.id" style="overflow:visible;display: inline-block;padding:8px">
            <div class="card border border-dark align-top shadow" :style="'display:inline-block;width:' + (p.name.length + 17) + 'em'" >
              <div class="card-header bg-header-dark border border-dark shadow">
                <img src="/static/apfell-transparent.png" class="card-img-top" alt="..." style="width:100px;height:100px">
                    <template v-if="p.name == 'default' || p.container_running">
                        <div class="led-green" style="display:inline-block" data-toggle="tooltip" title="This indicates the Docker container is running"></div>
                    </template>
                    <template v-else>
                        <div class="led-red" style="display:inline-block" data-toggle="tooltip" title="No heartbeat from container in over 30 seconds"></div>
                    </template>&nbsp;<a class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#c2profilecardbody' + p.id" aria-expanded="false" :aria-controls="'c2profilecardbody' + p.id">&nbsp;<font size="6"><b>[[p.name]]</b>&nbsp;<img :id="'dropdownarrow' + p.id" src="/static/color-arrow.png" style="width:32px;height32px;transform:rotate(180deg);vertical-align:center"></font></a>

                  </div>
                <div class="collapse show" :id="'c2profilecardbody' + p.id">
                  <div class="card-body border-top border-bottom border-dark shadow bg-card-body">
                       <p class="card-text">
                           <small class="text-muted">Docker container status: </small>
                           <template v-if="p.container_running || p.name == 'default'"><small class="text-muted">Running</small></template>
                           <template v-else><small class="text-muted">Stopped</small></template>
                       </p>
                      <p class="card-text">[[p.description]]</p>
                      <button type="button" class="btn btn{{config['outline-buttons']}}success btn-md" @click="create_new_parameter_instance_button(p)"><i class="fa fa-bookmark"></i> Save Instance</button>
                      <p class="card-text"><small class="text-muted">Supported Payload Types: [[ p.payload_types.join(", ") ]]</small></p>
                  </div>
                </div>
                <div class="card-footer border border-dark shadow bg-header-dark">
                        <button type="button" class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="delete_button(p)" :disabled="p.name == 'default'"><i class="fas fa-trash-alt"></i></button>
                        <template v-if="p.running && p.name != 'default'">
                             <div class="dropdown" style="display:inline">
                                <button class="btn btn{{config['outline-buttons']}}danger dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  :data-target="p.name + 'stop_button'">
                                <i class="fas fa-edit"> Internal Server</i>
                              </button>
                              <div class="dropdown-menu" :id="p.name + 'stop_button'">
                                  <button class="dropdown-item"  @click="running_button(p)">Stop Internal Server</button>
                                  <button class="dropdown-item" :disabled="!p.container_running" @click="check_status_button(p)">View Stdout/Stderr</button>
                              </div>
                             </div>

                        </template>
                        <template v-else-if="!p.running && p.name != 'default'">
                            <button class="btn btn{{config['outline-buttons']}}success btn-sm"  @click="running_button(p)">Start Internal Server</button>
                        </template>
                        <template v-else>
                            <button class="btn btn{{config['outline-buttons']}}danger btn-sm" disabled>Stop Internal Server</button>
                        </template>
                        <template v-if="p.name != 'default'">
                            <button class="btn btn{{config['outline-buttons']}}info btn-sm" data-toggle="tooltip" title="Export c2 profile information and files" @click="export_profile_button(p)"><i class="fas fa-file-export"></i></button>
                        </template>
                         <div class="dropdown" style="display:inline">
                            <button class="btn btn{{config['outline-buttons']}}warning dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :data-target="p.name + 'edit_button'">
                                <i class="fas fa-edit"></i>
                              </button>
                              <div class="dropdown-menu" :id="p.name + 'edit_button'">
                                  <button class="dropdown-item" @click="update_button(p)">Supported Payloads</button>
                                  <button class="dropdown-item" @click="update_button(p)">Upload Listener Files</button>
                                  <button class="dropdown-item" @click="parameters_button(p)">Parameters</button>
                                  <button class="dropdown-item" @click="edit_files_button(p)">Download / Delete Listener Files</button>
                              </div>
                         </div>
                     </div>
              </div>
            </div>
    </div>
</div>

<!-- THIS IS OUR MODAL FOR DELETING PROFILE -->
<div class="modal fade" id="profileDeleteModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3 id="modalLabel">Are you sure? This could have implications elsewhere.</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                Remove the specified C2 Profile from the database and files from disk. This does NOT delete or stop the container.
            </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn{{config['outline-buttons']}}danger" data-dismiss="modal" id="profileDeleteSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR DELETING PROFILE -->
<!-- THIS IS OUR MODAL FOR EDITING PROFILE FILES -->
<div class="modal fade" id="profileFilesModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>All files and folders associated with [[profile_name]]</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                Download or delete files here. To upload new versions or new files, use the "Edit Info" dropdown menu item.
                <template v-if="folders.length > 0" v-for="folder in folders">
                    <table class="table table-striped {{config['table-color']}} table-hover">
                        <tr>
                            <th align="left" width="50"><b>Delete</b></th>
                            <th align="left" width="50"><b>Download</b></th>
                            <th align="left"><b>
                                Agent Files in [[folder.folder.replace("./app/c2_profiles/" + profile_name + "/","")]] (Deletions are permanent)
                            </b></th>
                        </tr>
                        <template v-for="file in folder.filenames">
                            <tr>
                                <td><button class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="delete_file_button(folder.folder, file)"><i class="fas fa-trash-alt"></i></button></td>
                                <td><button class="btn btn{{config['outline-buttons']}}success btn-sm" @click="download_file_button(folder.folder, file)">Download</button></td>
                                <td>[[file]]</td>
                            </tr>
                        </template>
                    </table>
                </template>
                <template>
                    <table class="table table-striped {{config['table-color']}} table-hover">
                        <tr>
                            <th align="left" width="50"><b>Delete</b></th>
                            <th align="left" width="50"><b>Download</b></th>
                            <th align="left"><b>Server files (Deletions are permanent)</b> <span v-if="!got_list_from_container && profile_name != 'default'"><img class="spinning" src="/static/refresh.png" style="width:25px; height:25px"></span></th>
                        </tr>
                        <template v-for="file in server_folder">
                            <tr>
                                <td><button class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="delete_file_button('/Apfell/', file)"><i class="fas fa-trash-alt"></i></button></td>
                                <td><button class="btn btn{{config['outline-buttons']}}success btn-sm" @click="download_file_button('/Apfell/', file)">Download</button></td>
                                <td>[[file]]</td>
                            </tr>
                        </template>
                    </table>
                </template>
            </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}success" data-dismiss="modal" aria-hidden="true">OK</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR EDITING PROFILE FILES-->
<!-- THIS IS OUR MODAL FOR UPDATING A PROFILE -->
<div class="modal fade" id="profileUpdateModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
	    <div class="modal-header bg-dark text-white">
		<h3 id="updateLabel">Update the current C2 profile</h3>
	    <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
	    <div class="modal-body" id="profileUpdateBody">
            Update the current profile's description, and/or supported payload types. If the container is down, you won't be able to upload new files to the container.
            <table cellpadding="10" style="width:100%" class="table-striped {{config['table-color']}} table-hover">
                <tr>
                    <td style="width:150px">Name</td>
                    <td><input type="text" id="profileUpdateName" size="50" disabled></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td> <input type="text" id="profileUpdateDescription" size="50"></td>
                </tr>
                <tr>
                    <td>Supported Payloads</td>
                    <td>
                        <select multiple id="profileUpdatePayloads">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Server/Container Code:
                    </td>
                    <td><input multiple type="file" id="profileEditServerFile"></td>
                </tr>
                <tr v-for="p in edit_payload_file_list">
                    <td>[[p]]'s Code:</td>
                    <td>
                        <input multiple type="file" :id="'edit_payload_file_list' + [[p]]">
                    </td>
                </tr>
            </table>
        </div>
	    <div class="modal-footer">
		<button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="profileUpdateSubmit">Submit</button>
	    </div>
	</div>
    </div>
</div>
<!-- END MODAL FOR UPDATING A PROFILE -->
<!-- THIS IS OUR MODAL FOR CREATING A PROFILE -->
<div class="modal fade" id="profileCreateModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
	    <div class="modal-header bg-dark text-white">
		<h3 id="createLabel">Register C2 profile</h3>
            <button type="button" class="close" data-dismiss="modal">x</button>
	    </div>
	    <div class="modal-body" id="profileCreateBody">
            Register a new profile's description, name, and supported payload types. The name must be unique.
            <table cellpadding="10" style="width:100%" class="table-striped {{config['table-color']}} table-hover">
                <tr>
                    <td style="width:150px">Name</td>
                    <td><input type="text" id="profileCreateName" size="50"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td> <input type="text" id="profileCreateDescription" size="50"></td>
                </tr>
                <tr>
                    <td>Supported Payloads</td>
                    <td>
                        <select multiple id="profileCreatePayloadTypes">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Server/Container Code:
                    </td>
                    <td>These files can be uploaded/downloaded/listed once the profile is registered and the container is online</td>
                </tr>
                <tr v-for="p in payload_file_list">
                    <td>[[p]]'s Code:</td>
                    <td>
                        <input multiple type="file" :id="'payload_file_list' + [[p]]">
                    </td>
                </tr>
            </table>
        </div>
	    <div class="modal-footer">
		<button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="profileCreateSubmit">Submit</button>
	    </div>
	</div>
    </div>
</div>
<!-- END MODAL FOR CREATING A PROFILE -->
<!-- THIS IS OUR MODAL FOR EDITING A PROFILE'S PARAMETERS -->
<div class="modal fade" id="profileEditParametersModal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
	<div class="modal-content">
	    <div class="modal-header bg-dark text-white">
		<h3>Add / Edit / Remove Profile Parameters</h3>
	    <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
	    <div class="modal-body" id="profileEditParametersBody">
            C2 profiles can have parameters that will get stamped in at payload creation time. Here, you will specify the "name" that will be presented to the user for the parameter and the "key" that will be stamped out when the profile is created.
            When creating a payload, user's will specify the actual value that will stamp out this "key".
            <div id="profileEditParametersTable">
                <table cellpadding="10" style="width:100%" class="table-striped {{config['table-color']}} table-hover">
                    <tr>
                        <th></th>
                        <th><b>Name</b></th>
                        <th><b>Key</b></th>
                        <th><b>User Hint</b></th>
                    </tr>
                    <tr v-for="(i,p) in parameters" :key="p">
                        <td>
                            <button type="button" class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="remove_parameter_button(p)">X</button>
                        </td>
                        <td>
                            <input type="text" size="31" :value="i.name" v-model="i.name">
                        </td>
                        <td>
                            <input type="text" size="31" :value="i.key" v-model="i.key">
                        </td>
                        <td>
                            <input type="text" size="31" :value="i.hint" v-model="i.hint">
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn btn{{config['outline-buttons']}}success btn-sm" @click="add_parameter_button()">Add</button>
            </div>
        </div>
	    <div class="modal-footer">
		<button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="profileEditParametersSubmit">Submit</button>
	    </div>
	</div>
    </div>
</div>
<!-- END MODAL FOR EDITING A PROFILE'S PARAMETERS -->
<!-- THIS IS OUR MODAL FOR IMPORTING C2 PROFILE -->
<div class="modal fade" id="importModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>Import JSON</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
              <div class="modal-body" id="importBody">
                  Should contain the C2 Profile and associated information.
                  <input type="file" id="importFile">
              </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="importSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR IMPORTING C2 PROFILE -->
<br>
<div class="card border border-dark shadow">
    <div class="card-header border border-dark bg-header text-white shadow">
        <h2>Saved <span class="operator">Parameter Instances</span></h2>
    </div>
    <div class="card-body border border-dark bg-card-body shadow" id="instances_table">
      <div class="card align-top border-0 bg-transparent" style="display:inline-block;min-width:30rem;padding:8px;" v-for="i in instances" :key="i.id">
          <div class="card shadow">
              <div class="card-header" :id="'cardheader' + i.id">
                  <button class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="delete_instance(i)"><i class="fas fa-trash-alt"></i></button> <a class="btn btn-link" style="word-wrap: break-word" type="button" data-toggle="collapse" :data-target="'#cardbody' + i.id" aria-expanded="false" :aria-controls="'cardbody' + i.id" @click="toggle_arrow(i.id)"><font size="4"><b>Instance: </b> [[i.instance_name]] </font><img :id="'color-arrow' + i.id" src="/static/color-arrow.png" style="width:32px;height32px;transform:rotate(0deg);vertical-align:center"></a>
              </div>
              <div class="collapse" :id="'cardbody' + i.id">
                  <div class="card-body">
                    <span class="card-text" v-for="e in i.values" style="display:block;white-space:pre-wrap"><b>[[e.c2_profile_key]]</b>: <template v-if="e.value.length > 100 && !e.show_all">[[e.value.substring(0,100)]]<button class="btn btn-secondary btn-sm" @click="toggle_show_all(e)">...</button> </template><template v-else-if="e.show_all">[[e.value]] <button class="btn btn-secondary btn-sm" @click="toggle_show_all(e)">hide</button></template><template v-else>[[e.value]] </template><br></span>
                  </div>
              </div>
              <div class="card-footer">Associated Profile: <b>[[i.c2_profile]]</b></div>
          </div>
        </div>
        <!-- THIS IS OUR MODAL FOR EDITING A PROFILE'S PARAMETERS -->
        <div class="modal fade" id="profileCreateInstanceModal" role="dialog">
            <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                <h3>Provide Instance Values and Instance Name</h3>
                <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    Provide values for this C2 profile that can be used to auto-populate fields when creating payloads later. This helps save time so you don't have to type out the values each time you create a payload.
                        <table cellpadding="10" style="width:100%" class="table-striped {{config['table-color']}} table-hover">
                            <tr>
                                <th><b>Name</b></th>
                                <th><b>Value</b></th>
                            </tr>
                            <tr>
                                <td>Instance Name: </td>
                                <td>
                                    <input type="text" size="31" :value="current_name" v-model="current_name">
                                </td>
                            </tr>
                            <tr v-for="(i,p) in current_parameters" :key="p">
                                <td>
                                    <input type="text" disabled size="31" :value="i.name" v-model="i.name">
                                </td>
                                <td>
                                    <textarea oninput="adjust_size(this)" rows="1" cols="62" :value="i.hint" v-model="i.hint" :id="i.key"></textarea>
                                </td>
                            </tr>
                        </table>
                </div>
                <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="profileCreateInstanceSubmit">Submit</button>
                </div>
            </div>
            </div>
        </div>
        <!-- END MODAL FOR EDITING A PROFILE'S PARAMETERS -->
    </div>
    <!-- THIS IS OUR MODAL FOR DELETING PROFILE -->
<div class="modal fade" id="stdoutStderrModal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>C2 Profile STDOUT/ STDERR Messages</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="stdoutStderrBody" style="height:100%;overflow:scroll">

            </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal">OK</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR DELETING PROFILE -->
</div>

{% endblock %}

{% block scripts %}
{% include "c2profile_management.js" %}
{% endblock %}

{% block body_config %}

{% endblock %}