{% extends "base.html" %}
{% block body %}

<h1>
    C2 Profile Management
</h1>

<div style="resize: vertical; overflow:visible" class="panel panel-primary" id="c2profiles_table">
    <div class="panel-heading">Global C2 Profile Information</div>
        <table class="table table-condensed" >
            <tr>
                <th><b>Container</b></th>
                <th><b>Delete</b></th>
		        <th><b>Edit</b></th>
                <th><b>Stdout/Stderr</b></th>
                <th><b>Files</b></th>
                <th><b>Export</b></th>
                <th><b>Running</b></th>
                <th><b>Creator</b></th>
                <th><b>Name</b></th>
                <th><b>Description</b></th>
                <th><b>Parameters</b></th>
                <th><b>Payload Types</b></th>
            </tr>
        <!-- Repeat this for each web service -->
            <tr v-for="p in profiles" :key="p.name">
                <td align="center">
                    <div v-if="p.name == 'default'">
                        <div align="center" class="led-box">
                            <div class="led-green"></div>
                        </div>
                    </div>
                    <div v-else-if="p.container_running">
                        <div class="led-box">
                            <div class="led-green"></div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="led-box">
                            <div class="led-red" data-toggle="tooltip" title="No heartbeat from container in over 10 seconds"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div v-if="p.name == 'default'">Cannot Delete</div>
                    <div v-else>
                        <button type="button" class="btn btn-danger btn-sm" @click="delete_button(p)" >Delete</button>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" @click="update_button(p)">Edit</button>
                </td>
                <td>
                    <button type="button" :disabled="!p.container_running" class="btn btn-info btn-sm" @click="check_status_button(p)">Status</button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" @click="edit_files_button(p)">Edit Files</button>
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" @click="export_profile_button(p)">Export</button>
                </td>
                <td>
                    <div v-if="p.name == 'default'">Yes</div>
                    <div v-else-if="p.running">
                        <button type="button" :disabled="!p.container_running" class="btn btn-danger btn-sm" @click="running_button(p)">Stop</button>
                    </div>
                    <div v-else>
                        <button type="button" :disabled="!p.container_running" class="btn btn-success btn-sm" @click="running_button(p)">Start</button>
                    </div>
                </td>

                <td>[[ p.operator ]]</td>
                <td>[[ p.name ]]</td>
                <td>[[ p.description ]]</td>
                <td>
                     <button type="button" class="btn btn-info btn-sm" @click="parameters_button(p)">Edit</button>
                </td>
		        <td>[[ p.payload_types.join(", ") ]]</td>
            </tr>
        <!-- End of the repeating -->
        </table>
</div>
<!-- THIS IS OUR MODAL FOR DELETING PROFILE -->
<div class="modal fade bs-example-modal-sm" id="profileDeleteModal" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="modalLabel">Are you sure? This could have implications elsewhere.</h3>
                Remove the specified C2 Profile from the database and files from disk.
            </div>
              <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" id="profileDeleteSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR DELETING PROFILE -->
<!-- THIS IS OUR MODAL FOR EDITING PROFILE FILES -->
<div class="modal fade bs-example-modal-lg" id="profileFilesModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>All files and folders associated with [[profile_name]]</h3>
            </div>
            <div class="modal-body">
                <template v-if="folders.length > 0" v-for="folder in folders">
                    <table class="table table-condensed well-sm">
                        <tr>
                            <th align="left" width="50"><b>Delete</b></th>
                            <th align="left" width="50"><b>Download</b></th>
                            <th align="left"><b>
                                Agent Files in [[folder.folder.replace("./app/c2_profiles/" + profile_name + "/","")]] (Deletions are permanent)
                            </b></th>
                        </tr>
                        <template v-for="file in folder.filenames">
                            <tr>
                                <td><button class="btn btn-danger btn-sm" @click="delete_file_button(folder.folder, file)">X</button></td>
                                <td><button class="btn btn-success btn-sm" @click="download_file_button(folder.folder, file)">Download</button></td>
                                <td>[[file]]</td>
                            </tr>
                        </template>
                    </table>
                </template>
                <template>
                    <table class="table table-condensed well-sm">
                        <tr>
                            <th align="left" width="50"><b>Delete</b></th>
                            <th align="left" width="50"><b>Download</b></th>
                            <th align="left"><b>Server files (Deletions are permanent)</b> <span v-if="!got_list_from_container"><img class="spinning" src="/static/refresh.png" style="width:25px; height:25px"></span></th>
                        </tr>
                        <template v-for="file in server_folder">
                            <tr>
                                <td><button class="btn btn-danger btn-sm" @click="delete_file_button('/Apfell/', file)">X</button></td>
                                <td><button class="btn btn-success btn-sm" @click="download_file_button('/Apfell/', file)">Download</button></td>
                                <td>[[file]]</td>
                            </tr>
                        </template>
                    </table>
                </template>
            </div>
              <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">OK</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR EDITING PROFILE FILES-->
<!-- THIS IS OUR MODAL FOR UPDATING A PROFILE -->
<div class="modal fade bs-example-modal-md" id="profileUpdateModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3 id="updateLabel">Update the current C2 profile</h3>
		Update the current profile's description, and/or supported payload types. If the container is down, you won't be able to upload new files to the container.
	    </div>
	    <div class="modal-body" id="profileUpdateBody">
            <table cellpadding="10" style="width:100%">
                <tr>
                    <td style="width:150px">Name</td>
                    <td><input type="text" id="profileUpdateName" size="50" disabled></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td> <input type="text" id="profileUpdateDescription" size="50"></td>
                </tr>
                <tr>
                    <td>Supported Payloads</td>
                    <td>
                        <select multiple id="profileUpdatePayloads">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Server/Container Code:
                    </td>
                    <td><input multiple type="file" id="profileEditServerFile"></td>
                </tr>
                <tr v-for="p in edit_payload_file_list">
                    <td>[[p]]'s Code:</td>
                    <td>
                        <input multiple type="file" :id="'edit_payload_file_list' + [[p]]">
                    </td>
                </tr>
            </table>
        </div>
	    <div class="modal-footer">
		<button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" data-dismiss="modal" id="profileUpdateSubmit">Submit</button>
	    </div>
	</div>
    </div>
</div>
<!-- END MODAL FOR UPDATING A PROFILE -->
<!-- THIS IS OUR MODAL FOR CREATING A PROFILE -->
<div class="modal fade bs-example-modal-md" id="profileCreateModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3 id="createLabel">Register C2 profile</h3>
		Register a new profile's description, name, and supported payload types. The name must be unique and the
            locations of the server/stubs must adhere to a specific location as defined in /app/c2_profiles/how_to_add_c2profile.txt
	    </div>
	    <div class="modal-body" id="profileCreateBody">
            <table cellpadding="10" style="width:100%">
                <tr>
                    <td style="width:150px">Name</td>
                    <td><input type="text" id="profileCreateName" size="50"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td> <input type="text" id="profileCreateDescription" size="50"></td>
                </tr>
                <tr>
                    <td>Supported Payloads</td>
                    <td>
                        <select multiple id="profileCreatePayloadTypes">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Server/Container Code:
                    </td>
                    <td>These files can be uploaded/downloaded/listed once the profile is registered and the container is online</td>
                </tr>
                <tr v-for="p in payload_file_list">
                    <td>[[p]]'s Code:</td>
                    <td>
                        <input multiple type="file" :id="'payload_file_list' + [[p]]">
                    </td>
                </tr>
            </table>
        </div>
	    <div class="modal-footer">
		<button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" data-dismiss="modal" id="profileCreateSubmit">Submit</button>
	    </div>
	</div>
    </div>
</div>
<!-- END MODAL FOR CREATING A PROFILE -->
<!-- THIS IS OUR MODAL FOR EDITING A PROFILE'S PARAMETERS -->
<div class="modal fade bs-example-modal-lg" id="profileEditParametersModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Add / Edit / Remove Profile Parameters</h3>
		C2 profiles can have parameters that will get stamped in at payload creation time. Here, you will specify the "name" that will be presented to the user for the parameter and the "key" that will be stamped out when the profile is created.
            When creating a payload, user's will specify the actual value that will stamp out this "key".
	    </div>
	    <div class="modal-body" id="profileEditParametersBody">
            <div id="profileEditParametersTable">
                <table cellpadding="10" style="width:100%">
                    <tr>
                        <th></th>
                        <th><b>Name</b></th>
                        <th><b>Key</b></th>
                        <th><b>User Hint</b></th>
                    </tr>
                    <tr v-for="(i,p) in parameters" :key="p">
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" @click="remove_parameter_button(p)">X</button>
                        </td>
                        <td>
                            <input type="text" size="31" :value="i.name" v-model="i.name">
                        </td>
                        <td>
                            <input type="text" size="31" :value="i.key" v-model="i.key">
                        </td>
                        <td>
                            <input type="text" size="31" :value="i.hint" v-model="i.hint">
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-success btn-sm" @click="add_parameter_button()">Add</button>
            </div>
        </div>
	    <div class="modal-footer">
		<button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" data-dismiss="modal" id="profileEditParametersSubmit">Submit</button>
	    </div>
	</div>
    </div>
</div>
<!-- END MODAL FOR EDITING A PROFILE'S PARAMETERS -->
<!-- THIS IS OUR MODAL FOR IMPORTING C2 PROFILE -->
<div class="modal fade bs-example-modal-md" id="importModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Import a JSON file containing the C2 Profile and associated information</h3>
            </div>
              <div class="modal-body" id="importBody">
                  <input type="file" id="importFile">
              </div>
              <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" id="importSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR IMPORTING C2 PROFILE -->
<button type="button" class="btn btn-success btn-md" onclick="register_button()">Register C2 Profile</button>
<button type="button" class="btn btn-info btn-md" onclick="import_button()">Import C2 Profile(s)</button>
<button type="button" class="btn btn-danger btn-md" onclick="reset_default_profiles_button()">Reset Default Profiles</button>
{% endblock %}

{% block scripts %}
{% include "c2profile_management.js" %}
{% endblock %}

{% block body_config %}
body{
    background-color:{{ config['background-color'] }};
    color:{{ config['text-color'] }}
}
.panel-body{
    background:{{ config['background-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-primary{
    background:{{ config['background-color'] }}
}
.panel-primary > .panel-heading{
    background-image: none;
    background-color:{{ config['primary-pane'] }};
    color: {{config['primary-pane-text-color']}}
}
.panel-success{
    background:{{ config['background-color'] }}
}
.panel-success > .panel-heading{
    background-image: none;
    background-color:{{ config['success-pane'] }};
    color:{{ config['success-pane-text-color'] }}
}
.panel-warning{
    background:{{ config['background-color'] }}
}
.panel-warning > .panel-heading{
    background-image: none;
    background-color:{{ config['warning-pane'] }};
    color: {{config['warning-pane-text-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-info > .panel-heading{
    background-image: none;
    background-color:{{ config['info-pane'] }};
    color:{{config['info-pane-text-color'] }}
}
.panel-footer{
    background:{{ config['background-color'] }}
}
.btn{
    background-color: {{ config['general-button'] }};
    color: {{ config['general-button-text-color'] }};
    border: {{ config['general-button'] }}
}
.btn-primary{
    background-color: {{ config['primary-button'] }};
    color: {{ config['primary-button-text-color'] }};
    border: {{ config['primary-button'] }}
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus{
    background-color: {{ config['primary-button-hover'] }};
    color: {{ config['primary-button-hover-text-color'] }};
    border: {{ config['primary-button-hover'] }}
}
.btn-success{
    background-color: {{config['success-button'] }};
    color: {{ config['success-button-text-color'] }};
    border: {{config['success-button']}}
}
.btn-success:hover, .btn-success:focus, .btn-success:active:focus{
    background-color: {{config['success-button-hover'] }};
    color: {{ config['success-button-hover-text-color'] }};
    border: {{config['success-button-hover']}}
}
.btn-danger{
    background-color: {{config['danger-button'] }};
    color: {{ config['danger-button-text-color'] }};
    border: {{config['danger-button']}}
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active:focus{
    background-color: {{config['danger-button-hover'] }};
    color: {{ config['danger-button-hover-text-color'] }};
    border: {{config['danger-button-hover']}}
}
.btn-info{
    background-color: {{config['info-button'] }};
    color: {{ config['info-button-text-color'] }};
    border: {{ config['info-button'] }}
}
.btn-info:focus, .btn-info:hover, .btn-info:active:focus{
    background-color: {{config['info-button-hover'] }};
    color: {{ config['info-button-hover-text-color'] }};
    border: {{ config['info-button-hover'] }};
}
.btn-warning{
    background-color: {{config['warning-button'] }};
    color: {{ config['warning-button-text-color'] }};
    border: {{config['warning-button']}}
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active:focus{
    background-color: {{config['warning-button-hover'] }};
    color: {{ config['warning-button-hover-text-color'] }};
    border: {{config['warning-button-hover']}}
}
.form-control{
    background-color:{{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.tab-content{
    background:{{ config['background-color'] }}
}
.well{
    background:{{ config['well-bg'] }}
}
span{
    color: {{ config['text-color'] }};
}
span.timestamp{
    color: {{ config['timestamp'] }};
}
span.response{
    color: {{ config['text-color'] }}
}
span.operator{
    color: {{ config['operator'] }}
}
span.display{
    color: {{ config['display'] }}
}
table{
    background-color: {{config['background-color']}};
}
th{
    background-color: {{config['table-headers']}};
    color: {{config['text-color']}}
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  bottom: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: {{config['background-color']}};
  border-bottom: 1px solid {{config['text-color']}};
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: {{config['hover']}};
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: {{config['highlight']}} !important;
  color: {{config['highlight-text']}};
}
.dropdown-menu {
    background-color: {{ config['background-color'] }};
}

.nav-tabs > li> a:link{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:visited{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:hover{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:active{
    color: {{ config['text-color'] }};
}
.dropdown-menu > li > a{
    background-color: {{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.dropdown-menu > li > a:hover{
    background-color: {{ config['highlight'] }};
    color: {{ config['highlight-color'] }}
}
.modal-header {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-body {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-content {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
select {
    background-color: {{config['background-color']}};
}
input {
    background-color: {{config['background-color']}};
}
span.operation {
    color: {{ config['operation-color'] }}
}
.dropdown > .btn-primary {
    background-color: {{ config['interact-button-color']}};
    color: {{ config['interact-button-text']}}
}
.dropdown > .btn-info {
    background-color: {{ config['interact-button-dropdown'] }}
}
.navbar-nav > .dropdown > .dropdown-toggle > .caret{
    color: {{ config['top-caret'] }};
}
.led-box {
  height: 30px;
  width: 25%;
}
.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}
@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}
.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
{% endblock %}