{% extends "base.html" %}
{% block body %}
<h2>Database and File Management</h2>
Only the admin of the operation can clear out the database.
As an artifact of how tracking and information is stored in the database, removing a payload or callback has a lot of repercussions elsewhere.
<div style="resize: vertical; overflow:visible" class="card border border-dark shadow" id="database_table">
    <div class="card-header bg-danger text-white border border-dark shadow"><h4>Database Information</h4></div>
    <div class="card-body bg-card-body border border-dark shadow" style="padding:0">
         <table class="table table-striped table-hover {{config['table-color']}}" >
            <tr>
                <td></td>
                <td><b>Removed Item</b></td>
                <td><b>Cascading items removed</b></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_payloads()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Payloads</h4></td>
                <td>Callbacks, Tasks, Responses, Files, Screencaptures, Keylogs, Task Artifacts, ATT&CK Tasks</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_callbacks()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Callbacks</h4></td>
                <td>Tasks, Responses, Files, Screencaptures, Keylogs, Task Artifacts, ATT&CK Tasks</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_screencaptures()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Screencaptures</h4></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_downloads()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Downloads</h4></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_uploads()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Uploads</h4></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_keylogs()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Keylogs</h4></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_credentials()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Credentials</h4></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_tasks()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Tasks</h4></td>
                <td>Responses, Files, Screencaptures, Artifacts, Attack Tasks, Keylogs</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_responses()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Responses</h4></td>
                <td></td>
            </tr>
             <tr>
                 <td><button type="button" class="btn btn{{config['outline-buttons']}}danger btn-md" onclick="clear_artifacts()"><i class="fas fa-trash-alt"></i></button></td>
                <td><h4>Task Artifacts</h4></td>
                <td></td>
             </tr>
        </table>
    </div>

</div>
<!-- THIS IS OUR MODAL FOR CLEARING -->
<div class="modal fade" id="clearModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">

                <h3>Are you sure?</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
              <div class="modal-body">
                <p>[[description]]</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn{{config['outline-buttons']}}danger" data-dismiss="modal" id="clearSubmit">Yes</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR CLEARING -->

{% endblock %}

{% block scripts %}
{% include "database_management.js" %}
{% endblock %}

{% block body_config %}

{% endblock %}