{% extends "base.html" %}
{% block body %}
<br>
<div id="files_div" style="overflow:scroll;height:100%">
    <div style="resize: vertical; overflow:scroll" class="card bg-card-body border border-dark shadow" >
        <div class="card-header bg-header text-white border border-dark shadow" ><span class="timestamp"><h2>Downloads</h2></span></div>
        <div class="card-body bg-card-body border border-dark shadow" style="padding:0">
            <table class="table table-striped table-hover {{config['table-color']}}">
                <tr>
                    <th style="width:4rem">Delete</th>
                    <th onclick="sort_table(this)" style="width:9rem">File Num</th>
                    <th onclick="sort_table(this)">Task</th>
                    <th onclick="sort_table(this)" style="width:20rem">Host</th>
                    <th onclick="sort_table(this)" style="width:15rem">Time</th>
                    <th onclick="sort_table(this)" style="width:20rem">Operator</th>
                    <th onclick="sort_table(this)">Remote File</th>
                    <th style="width:6rem">Download</th>
                </tr>
                <tr v-for="(file,i) in hosts.downloads" :key="file.id" >
                    <template v-if="file.complete">
                        <td><button class="btn btn-md" style="color:red"><i class="far fa-trash-alt fa-2x" @click="delete_file(file.id)" ></i></button></td>
                        <td>[[file.id]]</td>
                        <td><a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/tasks/' + file.task" target="_blank">[[file.task]]</a></td>
                        <td>[[file.host]]</td>
                        <td>[[toLocalTime(file.timestamp)]]</td>
                        <td>[[file.operator]]</td>
                        <td>[[file.params]]</td>
                        <td><a class="btn btn-md" :href='file.remote_path' target="_blank" style="color:green"><i class="fas fa-download fa-2x"></i></a></td>
                    </template>
                    <template v-else>
                        <td><button class="btn btn-md" style="color:red"><i class="far fa-trash-alt fa-2x" @click="delete_file(file.id)" ></i></button></td>
                        <td>[[file.id]]</td>
                        <td><a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/tasks/' + file.task" target="_blank">[[file.task]]</a></td>
                        <td>[[file.host]]</td>
                        <td>[[toLocalTime(file.timestamp)]]</td>
                        <td>[[file.operator]]</td>
                        <td>[[file.params]]: <span class="display">Parts [[file.chunks_received]] of [[file.total_chunks]] received so far</span></td>
                        <td><a class="btn btn-md" style="color:red"><i class="fas fa-ban fa-2x"></i></a></td>
                    </template>
                </tr>
            </table>
        </div>
    </div><br>
    <div style="resize: vertical; overflow:scroll" class="card bg-card-body border border-dark shadow">
        <div class="card-header bg-header border border-dark shadow" ><span class="operator"><h2>Uploads</h2></span></div>
        <div class="card-body bg-card-body border border-dark shadow" style="padding:0">
            <table class="table table-striped table-hover {{config['table-color']}} border border-dark shadow">
                <tr>
                    <th style="width:4rem">Delete</th>
                    <th onclick="sort_table(this)" style="width:9rem">File Num</th>
                    <th onclick="sort_table(this)">Task</th>
                    <th onclick="sort_table(this)" style="width:20rem">Host</th>
                    <th onclick="sort_table(this)" style="width:15rem">Time</th>
                    <th onclick="sort_table(this)" style="width:20rem">Operator</th>
                    <th onclick="sort_table(this)" style="width:20rem">Source</th>
                    <th onclick="sort_table(this)" >Destination</th>
                    <th style="width:6rem">Download</th>
                </tr>
                <tr v-for="(file,i) in hosts.uploads" :key="file.id" >
                    <template v-if="file.host != 'MANUAL FILE UPLOAD'">
                        <td><button class="btn btn-md" style="color:red"><i class="far fa-trash-alt fa-2x" @click="delete_file(file.id)" ></i></button></td>
                        <td>[[file.id]]</td>
                        <td><a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/tasks/' + file.task" target="_blank">[[file.task]]</a></td>
                        <td>[[file.host]]</td>
                        <td>[[toLocalTime(file.timestamp)]]</td>
                        <td>[[file.operator]]</td>
                        <td>[[file.path]]</td>
                        <td>[[file.upload.remote_path]]</td>
                        <td><a class="btn btn-md" :href='file.remote_path' target="_blank" style="color:green"><i class="fas fa-download fa-2x"></i></a></td>
                    </template>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% include "files.js" %}
{% endblock %}

{% block body_config %}
{% endblock %}