{% extends "base.html" %}
{% block body %}
<br>
<div id="files_div" style="overflow:scroll">
    <div style="resize: vertical; overflow:scroll;  max-height:calc(45vh)" class="card bg-card-body border border-dark shadow" >
        <div class="card-header bg-header text-white border border-dark shadow" ><span class="operator"><h2>Downloads</h2></span></div>
        <div class="card-body bg-card-body border border-dark shadow" style="padding:0;margin:0">
            <table class="table table-striped table-hover {{config['table-color']}} border border-dark shadow">
                <tr>
                    <th style="width:4rem">Delete</th>
                    <th onclick="sort_table(this)" style="width:15rem">Time</th>
                    <th onclick="sort_table(this)" style="width:5rem">Task</th>
                    <th onclick="sort_table(this)" style="width:16rem">Host</th>
                    <th onclick="sort_table(this)" style="width:8rem">Operator</th>
                    <th onclick="sort_table(this)">File</th>
                    <th style="width:15rem">Comment</th>
                    <th style="width:6rem">Download</th>
                    <th >Info</th>
                </tr>
                <tr v-for="(file,i) in hosts.downloads" :key="file.id" >
                    <template v-if="file.complete">
                        <td><button class="btn btn-md" style="color:red"><i class="far fa-trash-alt fa-lg" @click="delete_file(file.id)" ></i></button></td>
                        <td>[[toLocalTime(file.timestamp)]]</td>
                        <td><a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/tasks/' + file.task" target="_blank"><b>[[file.task]]</b></a></td>
                        <td>[[file.host]]</td>
                        <td>[[file.operator]]</td>
                        <td>[[file.params]]</td>
                        <td>[[file.comment]]</td>
                        <td><a class="btn btn-md" :href='file.remote_path' target="_blank" style="color:green"><i class="fas fa-download fa-lg"></i></a></td>
                        <td><a class="btn btn-md" @click="display_info(file)" style="color:royalblue;cursor:pointer"><i class="fas fa-info-circle fa-lg"></i></a></td>
                    </template>
                    <template v-else>
                        <td><button class="btn btn-md" style="color:red"><i class="far fa-trash-alt fa-2x" @click="delete_file(file.id)" ></i></button></td>
                        <td>[[toLocalTime(file.timestamp)]]</td>
                        <td><a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/tasks/' + file.task" target="_blank"><b>[[file.task]]</b></a></td>
                        <td>[[file.host]]</td>
                        <td>[[file.operator]]</td>
                        <td>[[file.params]]: <span class="display">Parts [[file.chunks_received]] of [[file.total_chunks]] received so far</span></td>
                        <td>[[file.comment]]</td>
                        <td><a class="btn btn-md" style="color:red"><i class="fas fa-ban fa-2x"></i></a></td>
                        <td><a class="btn btn-md" @click="display_info(file)" style="color:royalblue;cursor:pointer"><i class="fas fa-info-circle fa-lg"></i></a></td>
                    </template>
                </tr>
            </table>
        </div>
        <div class="card-footer bg-card-body border border-dark shadow">
            <button class="btn btn-md btn{{config['outline-buttons']}}info" @click="export_file_metadata('downloads')"><i class="fas fa-file-export"></i> Export</button>
        </div>
    </div><br>
    <div style="resize: vertical; overflow:scroll;  max-height:calc(45vh)" class="card bg-card-body border border-dark shadow">
        <div class="card-header bg-header border border-dark shadow" ><span class="display"><h2>Uploads</h2></span></div>
        <div class="card-body bg-card-body border border-dark shadow" style="padding:0">
            <table class="table table-striped table-hover {{config['table-color']}} border border-dark shadow">
                <tr>
                    <th style="width:4rem">Delete</th>
                    <th onclick="sort_table(this)" style="width:15rem">Time</th>
                    <th onclick="sort_table(this)" style="width:5rem">Task</th>
                    <th onclick="sort_table(this)" style="width:16rem">Host</th>
                    <th onclick="sort_table(this)" style="width:8rem">Operator</th>
                    <th onclick="sort_table(this)" style="width:15rem">Source</th>
                    <th onclick="sort_table(this)" >Destination</th>
                    <th style="width:15rem">Comment</th>
                    <th style="width:6rem">Download</th>
                    <th >Info</th>
                </tr>
                <tr v-for="(file,i) in hosts.uploads" :key="file.id" v-if="file.host != 'MANUAL FILE UPLOAD'">
                    <td><button class="btn btn-md" style="color:red"><i class="far fa-trash-alt fa-lg" @click="delete_file(file.id)" ></i></button></td>
                    <td>[[toLocalTime(file.timestamp)]]</td>
                    <td><a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/tasks/' + file.task" target="_blank"><b>[[file.task]]</b></a></td>
                    <td>[[file.host]]</td>
                    <td>[[file.operator]]</td>
                    <td>[[file.path]]</td>
                    <td>[[file.upload.remote_path]]</td>
                    <td>[[file.comment]]</td>
                    <td><a class="btn btn-md" :href='file.remote_path' target="_blank" style="color:green"><i class="fas fa-download fa-lg"></i></a></td>
                    <td><a class="btn btn-md" @click="display_info(file)" style="color:royalblue;cursor:pointer"><i class="fas fa-info-circle fa-lg"></i></a></td>
                </tr>
            </table>
        </div>
        <div class="card-footer bg-card-body border border-dark shadow">
            <button class="btn btn-md btn{{config['outline-buttons']}}info" @click="export_file_metadata('uploads')"><i class="fas fa-file-export"></i> Export</button>
        </div>
    </div>
</div>
<!-- THIS IS OUR MODAL FOR DISPLAYING FILE INFO -->
<div class="modal fade" id="file_info_div" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>File Information</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
              <div class="modal-body">
                MD5: [[file.md5]]<br>
                  SHA1: [[file.sha1]]
              </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal">OK</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR DISPLAYING FILE INFO -->

{% endblock %}
{% block scripts %}
{% include "files.js" %}
{% endblock %}

{% block body_config %}
{% endblock %}