{% extends "base.html" %}
{% block body %}

<div id="payloadCreation" class="card border border-dark shadow">
    <div class="card-header bg-header border border-dark">
        <h2>C2 Profile <span class="operator">Instantiation</span></h2>
        <p>Use this page to create instantiations of C2 profiles that will be saved in the Apfell database. <br>
        These can then be used to load new c2 profiles in already running agents.</p>
    </div>
    <div class="card-body bg-card-body border border-dark shadow">
        <table class="table table-striped {{config['table-color']}} border border-dark shadow">
            <tr>
                <th valign="top">
                    <!-- This will house all of the C2 profile specific data -->
                    Profile:&nbsp;
                    <select id="c2_profile">
                        <!-- This selection will dynamically update the form fields-->
                        <!-- If this is updated to something that the payload-type doesn't have a match for, the payload-type will be cleared -->
                        <option value="Select One">Select One...</option>
                    </select>
                    Payload Type:&nbsp;
                    <select id="payload_type">
                        <!-- This selection will dynamically update the payload form fields and commands options-->
                        <!-- The options here will be based on the c2_profile that's selected -->
                    </select>
                </th>
            </tr>
            <tr>
                <td valign="top">
                    <div id="c2ParameterFormFields">
                        <table class="table table-condensed table-hover table-striped {{config['table-color']}}">
                            <tr>
                                <th><b>Parameter Name</b></th>
                                <th><b>Parameter Value</b></th>
                            </tr>
                            <tr v-for="(value, index) in c2_profile_parameters" :key="index">
                                <td>
                                   [[value.name]]
                                </td>
                                <td>
                                    <input type="text" size="40" :id="[[value.key]]" :placeholder="[[value.hint]]">
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
<button class="btn btn{{config['outline-buttons']}}success" onclick="create_instance()">Create Instance</button>

{% endblock %}

{% block scripts %}
{% include "instantiate_c2profile.js" %}
{% endblock %}

{% block body_config %}

{% endblock %}