{% extends "base.html" %}
{% block body %}
<img src="/static/apfell-white.png" style="opacity:0.05; position:absolute; top:8%; left:20%">
<div style="position:absolute; top:30%; left:40%">
    <font size="12"><b>Sign In</b></font><br>
    <form action="" method="post">
    {{ errors.token_errors }}
    <span style="color: red;">{{errors.validate_errors}}</span>
{{ form.csrf_token }}
    <table>
        <tr>
            <td><font size="5">{{form.username.label}}</font></td>
            <td>&nbsp;&nbsp;{{form.username(size=32)}}
                <br>
                <span style="color: red;">{{ errors.username_errors }}</span>
            </td>
        </tr>
        <tr>
            <td><font size="5">{{form.password.label}}</font></td>
            <td>&nbsp;&nbsp;{{form.password(size=32)}}
                <br>
                <span style="color: red;">{{ errors.password_errors }}</span>
            </td>
        </tr>
        <tr>
            <td><br>{{form.submit()}}</td>
            <td></td>
        </tr>
    </table>
    </form>
    <p>New User? <a href="{{ links.register }}">Click to Register!</a></p>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}

{% block body_config %}
tr:nth-child(odd) {
  background-color: transparent;
  color: #ECEDF0;
}
body{
    background-color: #2D2E31;
    color: #ECEDF0;
}
{% endblock %}