{% extends "base.html" %}
{% block body %}

<button class="btn btn-info" onclick="get_task_by_attack()">Tasks by ATT&CK</button> <!-- shows a matrix with numbers-->
<button class="btn btn-info" onclick="get_command_by_attack()">Commands by ATT&CK</button> <!-- shows a matrix with numbers -->
<button class="btn btn-info" onclick="output_to_navigator()">Output to ATT&CK Navigator</button> <!-- outputs a JSON file for ATT&CK Navigator -->
<br><br>
<div class="input-group mb-3" id="regexGroup">
    <input id="regex" type="text" class="form-control" style="position:relative;display:inline-block" placeholder="input regex to match tasks" v-model="regex" @keyup.enter="submit_search()">
    <span class="input-group-addon">
        <select id="attackOptions" v-model="selected">
            <option v-for="tech in options" :value="tech.t_num">[[tech.t_num]] [[tech.name]]</option>
        </select>
    </span>
    <span class="input-group-addon">
        Test? <input type="checkbox" v-model="test">
    </span>
    <span class="input-group-btn" style="position:relative">
        <button type="button" class="btn btn-primary" @click="submit_search()">Match Tasks</button>
    </span>

</div><br>
<div id="regexOutput">
    <div style="resize: vertical; overflow:auto;" class="panel panel-primary" v-if="tasks.length > 0">
        <div class="panel-heading">Matching Tasks</div>
        <table width="100%" border="2px" style="table-layout:fixed;word-wrap: break-word">
            <tr>
                <th style="text-align:left;width:8em"><b>Task Number</b></th>
                <th style="text-align:left"><b>Task</b></th>
                <th style="text-align:left"><b>Current ATT&CK Mappings</b></th>
            </tr>
            <template v-for="t in tasks">
                <tr>
                    <td style="text-align:left;width:7em">&nbsp;&nbsp;<b><a :href="t.href" target="_blank">[[t.id]]</a></b></td>
                    <td style="text-align:left">
                        <template v-if="t.params != t.original_params">
                            Original: [[t.command]] [[t.original_params]]<br>
                            Transformed: [[t.command]] [[t.params]]
                        </template>
                        <template v-else>
                            [[t.command]] [[t.params]]
                        </template>

                    </td>
                    <td style="text-align:left">
                        <template v-for="a in t.attack">
                            <p>[[a.t_num]] [[a.name]]</p>
                        </template>
                    </td>
                </tr>
            </template>
        </table>
    </div>

</div>
<div id="attack_matrix">
    <table width="100%" style="border-spacing: 5px;border-collapse: separate;table-layout:fixed;word-wrap: break-word">
        <tr>
            <th style="text-align:center"><b>Initial Access</b></th>
            <th style="text-align:center"><b>Execution</b></th>
            <th style="text-align:center"><b>Persistence</b></th>
            <th style="text-align:center"><b>Privilege Escalation</b></th>
            <th style="text-align:center"><b>Defense Evasion</b></th>
            <th style="text-align:center"><b>Credential Access</b></th>
            <th style="text-align:center"><b>Discovery</b></th>
            <th style="text-align:center"><b>Lateral Movement</b></th>
            <th style="text-align:center"><b>Collection</b></th>
            <th style="text-align:center"><b>Exfiltration</b></th>
            <th style="text-align:center"><b>Command and Control</b></th>
            <th style="text-align:center"><b>Impact</b></th>
        </tr>
        <tr v-for="(index, i) in matrix_length">
            <td>
                <template v-if="matrix['initial-access'][index-1].name != ''">
                    <button @click="view_data('initial-access', index-1)" :style="Object.keys(matrix['initial-access'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['initial-access'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['initial-access'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['execution'][index-1].name != ''">
                    <button @click="view_data('execution', index-1)" :style="Object.keys(matrix['execution'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['execution'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['execution'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['persistence'][index-1].name != ''">
                    <button @click="view_data('persistence', index-1)" :style="Object.keys(matrix['persistence'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['persistence'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['persistence'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['privilege-escalation'][index-1].name != ''">
                    <button @click="view_data('privilege-escalation', index-1)" :style="Object.keys(matrix['privilege-escalation'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['privilege-escalation'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['privilege-escalation'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['defense-evasion'][index-1].name != ''">
                    <button @click="view_data('defense-evasion', index-1)" :style="Object.keys(matrix['defense-evasion'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['defense-evasion'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['defense-evasion'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['credential-access'][index-1].name != ''">
                    <button @click="view_data('credential-access', index-1)" :style="Object.keys(matrix['credential-access'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['credential-access'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['credential-access'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['discovery'][index-1].name != ''">
                    <button @click="view_data('discovery', index-1)" :style="Object.keys(matrix['discovery'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['discovery'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['discovery'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['lateral-movement'][index-1].name != ''">
                    <button @click="view_data('lateral-movement', index-1)" :style="Object.keys(matrix['lateral-movement'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['lateral-movement'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['lateral-movement'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['collection'][index-1].name != ''">
                    <button @click="view_data('collection', index-1)" :style="Object.keys(matrix['collection'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['collection'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['collection'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['exfiltration'][index-1].name != ''">
                    <button @click="view_data('exfiltration', index-1)" :style="Object.keys(matrix['exfiltration'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['exfiltration'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['exfiltration'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['command-and-control'][index-1].name != ''">
                    <button @click="view_data('command-and-control', index-1)" :style="Object.keys(matrix['command-and-control'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['command-and-control'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['command-and-control'][index-1].name ]]
                </template>
            </td>
            <td>
                <template v-if="matrix['impact'][index-1].name != ''">
                    <button @click="view_data('impact', index-1)" :style="Object.keys(matrix['impact'][index-1]['mappings']).length > 0 ? 'background-color: #c63f1e;color:white;width:100%;height:100%;border:none' : 'background-color: {{config['background-color']}};width:100%;height:100%;border:none'">[[ matrix['impact'][index-1].name ]]</button>
                </template>
                <template v-else>
                    [[ matrix['impact'][index-1].name ]]
                </template>
            </td>
        </tr>
    </table>
</div>
<div id="MITRELicense">
    <p style="white-space: pre-wrap"><font size="0.25">
LICENSE
The MITRE Corporation (MITRE) hereby grants you a non-exclusive, royalty-free license to use ATT&CK™ for research, development, and commercial purposes. Any copy you make for such purposes is authorized provided that you reproduce MITRE's copyright designation and this license in any such copy.
"© 2018 The MITRE Corporation. This work is reproduced and distributed with the permission of The MITRE Corporation."
DISCLAIMERS
MITRE does not claim ATT&CK enumerates all possibilities for the types of actions and behaviors documented as part of its adversary model and framework of techniques. Using the information contained within ATT&CK to address or cover full categories of techniques will not guarantee full defensive coverage as there may be undisclosed techniques or variations on existing techniques not documented by ATT&CK.
ALL DOCUMENTS AND THE INFORMATION CONTAINED THEREIN ARE PROVIDED ON AN "AS IS" BASIS AND THE CONTRIBUTOR, THE ORGANIZATION HE/SHE REPRESENTS OR IS SPONSORED BY (IF ANY), THE MITRE CORPORATION, ITS BOARD OF TRUSTEES, OFFICERS, AGENTS, AND EMPLOYEES, DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION THEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
    </font></p></div>
<!-- THIS IS OUR MODEL FOR CLICKED ATT&CK BUTTON -->
<div class="modal fade bs-example-modal-lg" id="showATTACKDataModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>[[cell_data.name]] Mappings</h3>
            </div>
              <div class="modal-body">
                <template v-for="(value, key, index) in cell_data.mappings">
                    <h3>[[key]]</h3>
                    <table width="100%" style="table-layout:fixed;word-wrap: break-word">
                        <tr>
                            <th style="text-align:left;width:5em"><b>Remove</b></th>
                            <th style="text-align:left"><b>Value</b></th>
                        </tr>
                        <tr v-for="cmd in value">
                            <template v-if="cmd.hasOwnProperty('command')">
                                <td style="text-align:left;width:5em">
                                    <button disabled class="btn btn-danger">X</button>
                                </td>
                                <td>[[cmd.command]]</td>
                            </template>
                            <template v-else>
                                <td style="text-align:left;width:5em">
                                    <button @click="remove_mapping(cmd.task, cmd.attack)" class="btn btn-danger">X</button>
                                </td>
                                <td style="text-align:left">Task: <b><a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/tasks/' + cmd.task" target="_blank">[[cmd.task]]</a></b>, [[cmd.task_command]] [[cmd.task_params]]</td>
                            </template>

                        </tr>
                    </table>
                </template>
              </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODEL FOR CLICKED ATT&CK BUTTON -->
{% endblock %}

{% block scripts %}
{% include "mitre_attack_mappings.js" %}
{% endblock %}

{% block body_config %}
.td{
    padding: 3px;
}
body{
    background-color:{{ config['background-color'] }};
    color:{{ config['text-color'] }}
}
.panel-primary > .panel-heading{
    background-image: none;
    background-color:{{ config['primary-pane'] }};
    color: {{config['primary-pane-text-color']}}
}
.panel-success{
    background:{{ config['background-color'] }}
}
.panel-success > .panel-heading{
    background-image: none;
    background-color:{{ config['success-pane'] }};
    color:{{ config['success-pane-text-color'] }}
}
.panel-warning{
    background:{{ config['background-color'] }}
}
.panel-warning > .panel-heading{
    background-image: none;
    background-color:{{ config['warning-pane'] }};
    color: {{config['warning-pane-text-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-info > .panel-heading{
    background-image: none;
    background-color:{{ config['info-pane'] }};
    color:{{config['info-pane-text-color'] }}
}
.panel-footer{
    background:{{ config['background-color'] }}
}
.btn{
    background-color: {{ config['general-button'] }};
    color: {{ config['general-button-text-color'] }};
    border: {{ config['general-button'] }};
}
.btn-primary{
    background-color: {{ config['primary-button'] }};
    color: {{ config['primary-button-text-color'] }};
    border: {{ config['primary-button'] }}
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus{
    background-color: {{ config['primary-button-hover'] }};
    color: {{ config['primary-button-hover-text-color'] }};
    border: {{ config['primary-button-hover'] }}
}
.btn-success{
    background-color: {{config['success-button'] }};
    color: {{ config['success-button-text-color'] }};
    border: {{config['success-button']}}
}
.btn-success:hover, .btn-success:focus, .btn-success:active:focus{
    background-color: {{config['success-button-hover'] }};
    color: {{ config['success-button-hover-text-color'] }};
    border: {{config['success-button-hover']}}
}
.btn-danger{
    background-color: {{config['danger-button'] }};
    color: {{ config['danger-button-text-color'] }};
    border: {{config['danger-button']}}
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active:focus{
    background-color: {{config['danger-button-hover'] }};
    color: {{ config['danger-button-hover-text-color'] }};
    border: {{config['danger-button-hover']}}
}
.btn-info{
    background-color: {{config['info-button'] }};
    color: {{ config['info-button-text-color'] }};
    border: {{ config['info-button'] }}
}
.btn-info:focus, .btn-info:hover, .btn-info:active:focus{
    background-color: {{config['info-button-hover'] }};
    color: {{ config['info-button-hover-text-color'] }};
    border: {{ config['info-button-hover'] }};
}
.btn-warning{
    background-color: {{config['warning-button'] }};
    color: {{ config['warning-button-text-color'] }};
    border: {{config['warning-button']}}
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active:focus{
    background-color: {{config['warning-button-hover'] }};
    color: {{ config['warning-button-hover-text-color'] }};
    border: {{config['warning-button-hover']}}
}
.form-control{
    background-color:{{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.tab-content{
    background:{{ config['background-color'] }}
}
.well{
    background:{{ config['well-bg'] }}
}
span{
    color: {{ config['text-color'] }};
}
span.timestamp{
    color: {{ config['timestamp'] }};
}
span.response{
    color: {{ config['text-color'] }}
}
span.operator{
    color: {{ config['operator'] }}
}
span.display{
    color: {{ config['display'] }}
}
span.input-group-addon{
    background-color:{{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
table{
    background-color: {{config['background-color']}};
}
th{
    background-color: {{config['table-headers']}};
    color: {{config['text-color']}}
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  bottom: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: {{config['background-color']}};
  border-bottom: 1px solid {{config['text-color']}};
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: {{config['hover']}};
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: {{config['highlight']}} !important;
  color: {{config['highlight-text']}};
}
.dropdown-menu {
    background-color: {{ config['background-color'] }};
}

.nav-tabs > li> a:link{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:visited{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:hover{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:active{
    color: {{ config['text-color'] }};
}
.dropdown-menu > li > a{
    background-color: {{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.dropdown-menu > li > a:hover{
    background-color: {{ config['highlight'] }};
    color: {{ config['highlight-color'] }}
}
.modal-header {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-body {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-content {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
select {
    background-color: {{config['background-color']}};
    color: {{ config['text-color'] }};
}
input {
    background-color: {{config['background-color']}};
    color: {{ config['text-color'] }}
}
textarea {
    background-color: {{config['background-color']}};
    color: {{ config['text-color'] }}
}
span.operation {
    color: {{ config['operation-color'] }}
}
.dropdown > .btn-primary {
    background-color: {{ config['interact-button-color']}};
    color: {{ config['interact-button-text']}}
}
.dropdown > .btn-info {
    background-color: {{ config['interact-button-dropdown'] }}
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.navbar-nav > .dropdown > .dropdown-toggle > .caret{
    color: {{ config['top-caret'] }};
}
{% endblock %}