{% extends "base.html" %}
{% block body %}

<br>
<div style="resize: vertical; overflow:scroll" class="card border border-dark shadow" id="operations_table" >
    <div class="card-header bg-header border border-dark shadow text-white"><h2><span class="operator">Operations</span> Management</h2></div>
        <table class="table table-striped {{config['table-color']}} table-hover" >
            <tr>
                <th><b>Delete</b></th>
                <th><b>Modify</b></th>
                <th onclick="sort_table(this)"><b>Completed</b></th>
                <th><b>Access Controls</b></th>
                <th onclick="sort_table(this)"><b>Name</b></th>
                <th onclick="sort_table(this)"><b>Admin</b></th>
                <th onclick="sort_table(this)"><b>Members</b></th>
                <th><b>Current Operation</b></th>
            </tr>
        <!-- Repeat this for each operation -->
            <tr v-for="o in operations" :key="o.name">
                <td>
                    <button v-show="o.admin == username || admin" type="button" class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="delete_button(o)" ><i class="fa fa-trash-alt"></i></button>
                </td>
                <td>
			        <button v-show="o.admin == username || admin" type="button" class="btn btn{{config['outline-buttons']}}info btn-sm" @click="modify_button(o)"><i class="fas fa-edit"></i></button>
		        </td>
                <td>
                     <div v-if="o.complete">
                         <div v-if="o.admin == username || admin">
                            <button type="button" class="btn btn{{config['outline-buttons']}}warning btn-sm" @click="complete_button(o)">Resume Operation</button>
                         </div>
                         <div v-else>
                             Completed
                         </div>
                     </div>
                     <div v-else>
                         <div v-if="o.admin == username || admin">
                            <button type="button" class="btn btn{{config['outline-buttons']}}warning btn-sm" @click="complete_button(o)">Complete Operation</button>
                         </div>
                         <div v-else>
                             Ongoing
                         </div>
                     </div>

                </td>
                <td>
			        <button v-show="o.admin == username || admin" type="button" class="btn btn{{config['outline-buttons']}}warning btn-sm" @click="modify_acls_button(o)"><i class="fas fa-edit"></i></button>
		        </td>
                <td>[[ o.name ]]</td>
                <td>[[ o.admin ]]</td>
                <td><span v-for="m in o.members">[[m.username]]<br></span></td>
                <td>
                    <div v-if="current_operation == o.name">Yes</div>
                    <div v-else>
                        <button type="button" class="btn btn{{config['outline-buttons']}}info btn-sm" @click="current_operation_button(o)">Make Current</button>
                    </div>
                </td>
            </tr>
        <!-- End of the repeating -->
        </table>
</div>
<!-- THIS IS OUR MODAL FOR DELETING OPERATION -->
<div class="modal fade" id="operationDeleteModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3 id="modalLabel">Are you sure? This could have implications elsewhere.</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
              <div class="modal-footer">
                  <div class="modal-body">
                      Remove the specified operation from the database.<br> If you want to still access the data for reporting later on, you should just complete the operation instead.
                  </div>

                <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="operationDeleteSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR DELETING OPERATION -->
<!-- THIS IS OUR MODAL FOR COMPLETING OPERATION -->
<div class="modal fade" id="operationCompleteModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>Are you sure? This could have implications elsewhere.</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                 This completes or resumes the operation. <br>
                 If a new callback checks in while complete, it will be tasked to exit if there is an associated 'exit' command.
            </div>

              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="operationCompleteSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR COMPLETING OPERATION -->
<!-- THIS IS OUR MODAL FOR MODIFYING OPERATION -->
<div class="modal fade" id="operationModifyModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>Modify Operation</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="operationModifyBody">
                You can modify aspects of an operation here.
                <table cellpadding="10" style="width:100%" class="table table-striped {{config['table-color']}} table-hover">
                    <tr>
                        <td style="width:150px">Name</td>
                        <td><input disabled type="text" id="operationModifyName" size="25"></td>
                    </tr>
                    <tr>
                        <td>Admin</td>
                        <td> <select id="operationModifyAdmin"></select></td>
                    </tr>
                    <tr>
                        <td>Select the operators in the operation</td>
                        <td><select multiple id="operationModifyMembers" size="10"></select></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="operationModifySubmit">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR MODIFYING OPERATION -->
<!-- THIS IS OUR MODAL FOR CREATING OPERATION -->
<div class="modal fade" id="operationNewModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>Create a new Operation</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="operationNewBody">
                You can modify aspects of an operation here. The name must be unique, and list operators separated by ",".
                <table cellpadding="10" style="width:100%" class="table table-striped table-hover {{config['table-color']}}">
                    <tr>
                        <td style="width:150px">Name</td>
                        <td><input type="text" id="operationNewName" size="50"></td>
                    </tr>
                    <tr>
                        <td>Admin</td>
                        <td> <select id="operationNewAdmin"></select></td>
                    </tr>
                    <tr>
                        <td>Operators</td>
                        <td><select multiple id="operationNewMembers" size="10"></select></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="operationNewSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR CREATING OPERATION -->
<!-- THIS IS OUR MODAL FOR MODIFYING OPERATION ACLS-->
<div class="modal fade" id="operationModifyACLsModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>Modify Access Controls</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" id="operationModifyACLsBody">
                You can restrict operator's access to commands here.
                <table cellpadding="10" style="width:100%" class="table table-striped {{config['table-color']}} table-hover">
                    <tr>
                        <th><b>Operator</b></th>
                        <th><b>Applied List of Denied Commands</b></th>
                    </tr>
                    <tr v-for="m in members">
                        <td>[[m.username]]</td>
                        <td><select v-model="m.base_disabled_commands"><option value="None">None</option><option v-for="p in denied_command_profiles" :value="p">[[p]]</option></select></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="operationModifyACLsSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR MODIFYING OPERATION ACLS -->
<!-- THIS IS OUR MODAL FOR CREATING OPERATION ACLS-->
<div class="modal fade" id="operationCreateACLsModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>Create a Disabled Commands List</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                Create a template for disabling certain commands that can be applied to an operator.<br>
                Profile Name: <input type="text" v-model="name" size="40rem">
                <div v-for="(data, key, i) in selected_commands" style="max-height:20em;overflow:scroll">
                    <h3><span class="operator">[[key]]</span></h3>
                    <table cellpadding="10" style="width:100%;" class="table table-striped {{config['table-color']}} table-hover" >
                        <tr>
                            <th class="sticky-top">
                                <b>Disabled?</b>
                            </th>
                            <th class="sticky-top" onclick="sort_table(this)">
                                <b>Needs Admin</b>
                            </th>
                            <th class="sticky-top" onclick="sort_table(this)">
                                <b>Command Name</b>
                            </th>
                        </tr>
                        <tr v-for="command in data">
                            <td>
                                <label class="switch"><input type="checkbox" :checked="command['disabled']" v-model="command['disabled']"><span class="slider round"></span></label>
                            </td>
                            <td>[[command.needs_admin]]</td>
                            <td>[[command.cmd]]</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn{{config['outline-buttons']}}warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <button class="btn btn{{config['outline-buttons']}}primary" data-dismiss="modal" id="operationCreateACLsSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR CREATING OPERATION ACLS -->
<button type="button" class="btn btn{{config['outline-buttons']}}success btn-md" onclick="new_operation_button()"><i class="fas fa-plus"></i> Operation</button>
<br><br>
<div class="card border border-dark bg-card-body" id="view_acls">
    <div class="card-header bg-header text-white border border-dark shadow">
        <h2><span class="operator">Command Block</span> Lists</h2>
    </div>
    <div class="card-body border-0 shadow bg-card-body">
        <div v-for="i in disabled_profiles" class="card align-top bg-card-body-l1 border-0" style="display:inline-block;min-width:30rem;padding:8px;">
          <div class="card shadow border border-dark">
              <div class="card-header border border-dark shadow" :id="'cardheader' + i.id">
                  <button class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="delete_instance(i)"><i class="fas fa-trash-alt"></i></button> <a class="btn btn-link" style="word-wrap: break-word" type="button" data-toggle="collapse" :data-target="'#cardbody' + i.id" aria-expanded="false" :aria-controls="'cardbody' + i.id" @click="toggle_arrow(i.id)"><font size="4"><b>Disabled List: </b> [[i.name]] </font><img :id="'color-arrow' + i.id" src="/static/color-arrow.png" style="width:32px;height32px;transform:rotate(0deg);vertical-align:center"></a>
              </div>
              <div class="collapse" :id="'cardbody' + i.id">
                  <div class="card-body border border-dark shadow">
                      <div v-for="(data, ptype, i) in i.values">
                          <span class="operator"><b>[[ptype]]</b></span>
                          <table class="table table-striped table-hover {{config['table-color']}}">
                              <tr>
                                  <th><b>Command</b></th>
                              </tr>
                              <tr v-for="row in data">
                                  <td>[[row.command]]</td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="card-footer border border-dark shadow"><button class="btn btn{{config['outline-buttons']}}warning btn-sm" @click="edit_profile(i)"><i class="fas fa-edit"></i></button></div>
          </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn{{config['outline-buttons']}}success btn-md" onclick="new_acl_button()"><i class="fas fa-plus"></i> Command List</button>
{% endblock %}

{% block scripts %}
{% include "operations_management.js" %}
{% endblock %}

{% block body_config %}
{% endblock %}