{% extends "base.html" %}
{% block body_config %}
tr:nth-child(odd) {
  background-color: transparent;
  color: #ECEDF0;
}
body{
    background-color: #2D2E31;
    color: #ECEDF0;
{% endblock %}
{% block body %}
<img src="/static/apfell-white.png" style="opacity:0.05; position:absolute; top:8%; left:20%">
<div style="position:absolute; top:30%; left:40%">
    <font size="12"><b>Register</b></font><br>
    <form action="" method="post">
        <span style="color: red;">{{ errors.validate_errors }}</span>
        {{ form.csrf_token }}
        <table>
            <tr>
                <td>{{ form.username.label }}</td>
                <td>{{ form.username(size=32) }}
                    <br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.password.label }}</td>
                <td>{{ form.password(size=32) }}
                    <br>
                    {% for error in form.password.errors %}
                     <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.password2.label }}</td>
                <td>{{ form.password2(size=32) }}
                    <br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.submit() }}</td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
