{% extends "base.html" %}
{% block body %}

<br>
<div id="full_reporting">
    <div class="card border border-dark shadow bg-card-body">
        <div class="card-header bg-header border border-dark shadow text-white">
            <h2><span class="operator">Report Generation</span> Options</h2>
        </div>
        <div class="card-body border-dark border-left bg-card-body">
            <div class="card-columns bg-card-body-l1">
                <div class="card border border-dark shadow ">
                    <div class="card-header bg-header-dark border border-dark shadow">
                        Include Command output? &nbsp;&nbsp;<label class="switch" style="width:40px; height:20px"><input type="checkbox" id="cmd_output" v-model="cmd_output"><span class="script-slider round"></span></label>
                    </div>
                    <div class="card-body bg-card-body-l2 border border-dark shadow">
                        <img src="/no_cmd_output.png" height="200" width="550"><br>
                        Select this if you want command output included in the report
                    </div>
                </div>
                <div class="card" :hidden="!cmd_output">
                    <div class="card-header bg-header-dark border border-dark shadow">
                        Order output strictly by time? &nbsp;&nbsp; <label class="switch" style="width:40px; height:20px"><input type="checkbox" id="strict_time" v-model="strict_time"><span class="script-slider round"></span></label>
                    </div>
                    <div class="card-body bg-card-body-l2 border border-dark shadow">
                        <img src="/strict_time.png" height="300" width="550"><br>
                        Select this if you want a strictly chronological timeline of events
                    </div>
                </div>
                <div class="card" :hidden="!cmd_output">
                    <div class="card-header bg-header-dark border border-dark shadow">
                        Group all output with its task? &nbsp;&nbsp;<label class="switch" style="width:40px; height:20px"> <input type="checkbox" id="strict_task" v-model="strict_task"><span class="script-slider round"></span></label>
                    </div>
                    <div class="card-body bg-card-body-l2 border border-dark shadow">
                        <img src="/grouped_output.png" height="300" width="550"><br>
                        Select this if you want all command output grouped with the associated task
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <button class="btn btn{{config['outline-buttons']}}success" onclick="generate_report()">Generate</button>
</div>
{% endblock %}

{% block scripts %}
{% include "reporting_full_timeline.js" %}
{% endblock %}

{% block body_config %}

{% endblock %}