{% extends "base.html" %}
{% block body %}
<br>
<div id="screencapture_div">
    <template v-if="!screenshots_exist">
        <div class="card border border-dark shadow">
            <div class="card-header border border-dark bg-header shadow">
                <h2><span class="operator">{{current_operation}}'s </span>Screencaptures</h2>
            </div>
            <div class="card-body bg-card-body border-dark border shadow">
                No screencaptures yet
            </div>
        </div>
    </template>

    <div v-for="callback in callbacks" style="resize: vertical; overflow:scroll;margin:30px" class="card border border-dark shadow" :id="'callback'+callback.id" :key="callback.id" v-show="Object.keys(callback.screencaptures).length > 0">
        <div class="card-header bg-header border border-dark shadow text-white" ><h2><span class="operator">[[callback.display]]</span>'s Screencaptures</h2></div>
            <div :id="'screencaptures' + callback.id">
                <div v-for="(image,i) in callback.screencaptures" :key="image.id" class="border border-dark shadow">
                    <div v-if="image.complete">
                        <button :id="'image' + image.id" class="accordion bg-card-body-l2 text-light" style="cursor: pointer;padding: 18px;width: 100%;text-align: left;border: none; outline: none;transition: 0.4s;" @click="toggle_image(image)"><span class="operator">[[image.operator]]</span>'s screencapture: [[image.path.split("/").slice(-1).toString()]]</button>
                        <img src='#' width="100%" height="100%" style="display:none">
                    </div>
                    <div v-else>
                        <button :id="'image' + image.id" class="accordion bg-card-body-l2 text-light" style="cursor: pointer;padding: 18px;width: 100%;text-align: left;border: none; outline: none;transition: 0.4s" @click="toggle_image(image)"><span class="operator">[[image.operator]]</span>'s screencapture: [[image.path.split("/").slice(-1).toString()]]. <span class="display">Parts [[image.chunks_received]] of [[image.total_chunks]] received so far.</span></button>
                        <img src='#' width="100%" height="100%" style="display:none">
                    </div>

                </div>
            </div>
    </div>
</div>



{% endblock %}
{% block scripts %}
{% include "screencaptures.js" %}
{% endblock %}

{% block body_config %}

{% endblock %}