{% extends "base.html" %}
{% block body %}

<h2>Operation <font color="{{config['operation-color']}}">{{current_operation}}</font>'s Tasks</h2>

<div id="tasks_div">
    <div v-for="callback in callbacks" style="resize: vertical; overflow:scroll" :class="callback.active ? 'panel panel-primary' : 'panel panel-warning'" id="'callback'+callback.id" :key="callback.id" v-show="Object.keys(callback.tasks).length > 0">
        <div class="panel-heading" >Tasks for Callback: [[callback.user]]@[[callback.host]] with pid ([[callback.pid]]) <button v-if="!callback.active" class="btn btn-sm btn-success" @click="make_active(callback)">Make Callback Active</button></div>
            <div v-if="callback.hasOwnProperty('tasks')">
                <div v-for="(t,i) in callback.tasks" :key="t.id" style="word-wrap: break-word">

                    <button class="accordion" :id="'task' + t.id" style="width: 100%;border: 2px solid #ADD8E6;text-align: left;" @click="toggle_response(t, i)">[[t.operator]]'s task [[t.id]]: [[t.command]] [[t.original_params]]</button>
                    <div class="response-background" v-if="t.hasOwnProperty('responses')" style="word-wrap: break-word">

                        <template v-if="t.comment != ''">
                            <button class="btn btn-danger btn-sm" @click="remove_comment(t.id)" style="margin:0px;padding:0px 4px;line-height:20px">X</button><span class="operator"> [[t.comment_operator]]</span>'s comment: [[t.comment]]<hr>
                        </template>
                        (<span class="operator">[[t.operator]]'s</span> task: <a :href="t.href" target="_blank"><b>[[t.id]]</b></a> <button class="btn btn btn-sm" @click="add_comment(t)" style="margin:0px;padding:0px 1px;line-height:18px;background-color:{{config['well-bg']}}"><img src="/add_comment.png" width="20px" height="20px"></button>): <span class="display">[[callback.user]]@[[callback.host]]([[callback.pid]])#&nbsp;</span> [[t.command]] [[t.original_params]]<br>
                        <div v-if="t.params != t.original_params">
                            <button class="accordion" :id="'toggle_task' + t.id" @click="toggle_show_params(t.id)">Show transformed params</button><span class="response" style="display:none">[[t.params]]</span>
                        </div>
                        <span v-if="t.hasOwnProperty('responses')" v-for="r in t.responses" :key="r.id" style="white-space: pre-wrap">
                            <span class="timestamp">([[toLocalTime(r.timestamp)]])</span>&nbsp;&nbsp;<span class="response">[[r.response]]</span>
                        </span>
                        <br>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- THIS IS OUR MODAL FOR ADDING A COMMENT -->
<div class="modal fade bs-example-modal-md" id="addCommentModal" role="dialog" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Add / Edit Comment</h3>
            </div>
              <div class="modal-body">
                <textarea rows="5" cols="35" id="addCommentTextArea"></textarea>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" id="addCommentSubmit" aria-hidden="true">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR ADDING A COMMENT -->

{% endblock %}
{% block scripts %}
{% include "view_tasks.js" %}
{% endblock %}

{% block body_config %}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
body{
    background-color:{{ config['background-color'] }};
    color:{{ config['text-color'] }}
}
.accordion{
    background-color: {{ config['background-color'] }}
}
.response-background{
    background-color: {{config['well-bg']}}
}
.panel-body{
    background:{{ config['background-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-primary{
    background:{{ config['background-color'] }}
}
.panel-primary > .panel-heading{
    background-image: none;
    background-color:{{ config['primary-pane'] }};
    color: {{config['primary-pane-text-color']}}
}
.panel-success{
    background:{{ config['background-color'] }}
}
.panel-success > .panel-heading{
    background-image: none;
    background-color:{{ config['success-pane'] }};
    color:{{ config['success-pane-text-color'] }}
}
.panel-warning{
    background:{{ config['background-color'] }}
}
.panel-warning > .panel-heading{
    background-image: none;
    background-color:{{ config['warning-pane'] }};
    color: {{config['warning-pane-text-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-info > .panel-heading{
    background-image: none;
    background-color:{{ config['info-pane'] }};
    color:{{config['info-pane-text-color'] }}
}
.panel-footer{
    background:{{ config['background-color'] }}
}
.btn{
    background-color: {{ config['general-button'] }};
    color: {{ config['general-button-text-color'] }};
    border: {{ config['general-button'] }}
}
.btn-primary{
    background-color: {{ config['primary-button'] }};
    color: {{ config['primary-button-text-color'] }};
    border: {{ config['primary-button'] }}
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus{
    background-color: {{ config['primary-button-hover'] }};
    color: {{ config['primary-button-hover-text-color'] }};
    border: {{ config['primary-button-hover'] }}
}
.btn-success{
    background-color: {{config['success-button'] }};
    color: {{ config['success-button-text-color'] }};
    border: {{config['success-button']}}
}
.btn-success:hover, .btn-success:focus, .btn-success:active:focus{
    background-color: {{config['success-button-hover'] }};
    color: {{ config['success-button-hover-text-color'] }};
    border: {{config['success-button-hover']}}
}
.btn-danger{
    background-color: {{config['danger-button'] }};
    color: {{ config['danger-button-text-color'] }};
    border: {{config['danger-button']}}
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active:focus{
    background-color: {{config['danger-button-hover'] }};
    color: {{ config['danger-button-hover-text-color'] }};
    border: {{config['danger-button-hover']}}
}
.btn-info{
    background-color: {{config['info-button'] }};
    color: {{ config['info-button-text-color'] }};
    border: {{ config['info-button'] }}
}
.btn-info:focus, .btn-info:hover, .btn-info:active:focus{
    background-color: {{config['info-button-hover'] }};
    color: {{ config['info-button-hover-text-color'] }};
    border: {{ config['info-button-hover'] }};
}
.btn-warning{
    background-color: {{config['warning-button'] }};
    color: {{ config['warning-button-text-color'] }};
    border: {{config['warning-button']}}
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active:focus{
    background-color: {{config['warning-button-hover'] }};
    color: {{ config['warning-button-hover-text-color'] }};
    border: {{config['warning-button-hover']}}
}
.form-control{
    background-color:{{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.tab-content{
    background:{{ config['background-color'] }}
}
.well{
    background:{{ config['well-bg'] }}
}
span{
    color: {{ config['text-color'] }};
}
span.timestamp{
    color: {{ config['timestamp'] }};
}
span.response{
    color: {{ config['text-color'] }}
}
span.operator{
    color: {{ config['operator'] }}
}
span.display{
    color: {{ config['display'] }}
}
table{
    background-color: {{config['background-color']}};
}
th{
    background-color: {{config['table-headers']}};
    color: {{config['text-color']}}
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  bottom: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: {{config['background-color']}};
  border-bottom: 1px solid {{config['text-color']}};
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: {{config['hover']}};
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: {{config['highlight']}} !important;
  color: {{config['highlight-text']}};
}
.dropdown-menu {
    background-color: {{ config['background-color'] }};
}

.nav-tabs > li> a:link{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:visited{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:hover{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:active{
    color: {{ config['text-color'] }};
}
.dropdown-menu > li > a{
    background-color: {{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.dropdown-menu > li > a:hover{
    background-color: {{ config['highlight'] }};
    color: {{ config['highlight-color'] }}
}
.modal-header {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-body {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-content {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
select {
    background-color: {{config['background-color']}};
}
input {
    background-color: {{config['background-color']}};
}
span.operation {
    color: {{ config['operation-color'] }}
}
.dropdown > .btn-primary {
    background-color: {{ config['interact-button-color']}};
    color: {{ config['interact-button-text']}}
}
.dropdown > .btn-info {
    background-color: {{ config['interact-button-dropdown'] }}
}
.navbar-nav > .dropdown > .dropdown-toggle > .caret{
    color: {{ config['top-caret'] }};
}
textarea {
    background: {{config['background-color']}};
    color: {{config['text-color']}};
}
{% endblock %}