{% extends "base.html" %}
{% block body %}
<br>
<div class="card border border-dark shadow bg-card-body" id="tasks_div" style="resize:vertical">
    <div class="card-header bg-header text-white border border-dark shadow" >
        <span style="display:inline-block">
            <h2 style="display:inline-block"><span class="operator">Active</span> and <font color="bg-warning">Inactive</font> Callbacks</h2>
        </span>
        <span style="display:inline-block; float:right">
            <span class="input-group" >
            <input type="text" size="50rem" placeholder="Filter Callbacks by hostname with regex" id="filter" @keyup.enter="filter()">
            <div class="input-group-append input-group-btn" ><button  type="button" class="btn btn-secondary" @click="filter()"><i class="fa fa-search"></i></button></div>
            </span>
        </span>
    </div>
    <div style="resize: vertical; overflow:scroll;height:950px" >
        <div v-for="callback in callbacks" class="card bg-card-body-l2 border-dark border-bottom-0 border-top-0 border-right-0 rounded-0" id="'callback'+callback.id" :key="callback.id" style="padding:10px">
            <div :class="callback.active ? 'card-header bg-card-body border border-dark shadow' : 'card-header bg-card-body border border-dark shadow'"><template v-if="callback.active"><span class="operator">Tasks for Callback [[callback.id]]:</span></template><template v-else><font color="bg-warning">Tasks for Callback [[callback.id]]:</font></template> [[callback.user]]@[[callback.host]] with pid ([[callback.pid]])  <button class="btn btn-sm btn{{config['outline-buttons']}}success" @click="load_tasks(callback)">Load Tasks</button> <button v-if="!callback.active" class="btn btn-sm btn{{config['outline-buttons']}}success" @click="make_active(callback)">Make Callback Active</button></div>
            <div v-if="callback.hasOwnProperty('tasks')">
                <div v-for="(t,i) in callback.tasks" :key="t.id" style="word-wrap: break-word">

                    <div :class="t.status + ' card-header border border-dark shadow'" :id="'task' + t.id" style="padding:0px 0px 0px 2px;margin:0px">
                        <template v-if="t.status == 'processed'">
                            <button disabled class="btn btn{{config['outline-buttons']}}success btn-sm" style="filter:brightness(120%)">[[t.status]]</button>
                        </template>
                        <template v-else-if="t.status == 'processing'">
                            <button disabled class="btn btn{{config['outline-buttons']}}warning btn-sm" style="box-shadow: 0 0 5px yellow;">[[t.status]]</button>
                        </template>
                        <template v-else>
                            <button disabled class="btn btn{{config['outline-buttons']}}info btn-sm" style="filter:brightness(120%); box-shadow: 0 0 10px blue;">[[t.status]]</button>
                        </template>
                        <a class="btn btn-link" @click="toggle_response(t, i)"><img :id="'color-arrow' + t.id" src="/static/color-arrow.png" style="width:32px;height:32px;transform:rotate(0deg)" >[[t.operator]]'s task [[t.id]]: <b>[[t.command]]</b> [[t.original_params]]</a> <button class="btn btn-sm" style="color:{{config['text-color']}}" data-toggle="tooltip" title="Copy command to clipboard" @click="copyStringToClipboard(t.command + ' ' + t.original_params)" ><i class="far fa-copy" ></i></button>
                    </div>
                    <div class="response-background card-body border border-dark shadow" v-if="t.hasOwnProperty('responses')" style="word-wrap: break-word">
                        <template v-if="t.comment != ''">
                            <button class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="remove_comment(t.id)" style="margin:0px;padding:0px 4px;line-height:20px"><i class="fas fa-trash-alt"></i></button><span class="operator"> [[t.comment_operator]]</span>'s comment: [[t.comment]]<hr>
                        </template>
                        <span class="operator">[[t.operator]]'s</span> task: <a :href="t.href" target="_blank"><b>[[t.id]]</b></a> <button class="btn btn btn-sm" @click="add_comment(t)" style="margin:0px;padding:0px 1px;line-height:18px"><img src="/add_comment.png" width="20px" height="20px" data-toggle="tooltip" title="Add a comment to this task for all operators to see and search by"></button> <label class="switch" style="width:40px; height:20px" data-toggle="tooltip" title="Toggle browser scripts if available and applied for this command's output"><input type="checkbox" :checked="t.use_scripted" v-model="t.use_scripted" @click="update_view(t)"><span class="script-slider round"></span></label> [[t.status]] at <span class="timestamp">[[toLocalTime(t.timestamp)]]</span><br>
                        [[t.command]] [[t.original_params]]
                        <div v-if="t.params != t.original_params">
                            <button class="accordion" :id="'toggle_task' + t.id" @click="toggle_show_params(t.id)">Show transformed params</button><span class="response" style="display:none">[[t.params]]</span>
                        </div>
                        <template v-if="t.hasOwnProperty('scripted') && t.use_scripted">
                            <span v-html="t.scripted"></span>
                        </template>
                        <template v-else><br>
                            <span v-if="t.hasOwnProperty('responses')" v-for="r in t.responses" :key="r.id" style="white-space: pre-wrap">
                            <span class="timestamp">([[toLocalTime(r.timestamp)]])</span><br>
                                <span class="response"><pre>[[r.response]]</pre></span>
                        </span>
                        </template>
                    </div>
                </div>
            </div>
    </div>
    </div>

    <div class="card-footer bg-card-body">
        <div style="display:inline-block">
            <button type="button" :class="current_page <= 1 ? 'disabled btn btn-light' : 'btn btn-light'" data-toggle="tooltip" title="Go back one page" @click="get_page(current_page-1)"><<</button>&nbsp;
            <template v-if="current_page > 1">
                <button type="button" class="btn btn-light" data-toggle="tooltip" title="Go to first page" @click="get_page(1)">1</button>
            </template>
            <template v-if="current_page > 2">&nbsp;<font size="5" class="text-white">...</font>&nbsp;</template>
            <template v-if="current_page -2 > 1">
                <button type="button" class="btn btn-light" @click="get_page(current_page -2)">[[current_page - 2]]</button>
            </template>
            <template v-if="current_page -1 > 1">
                <button type="button" class="btn btn-light" @click="get_page(current_page -1)">[[current_page - 1]]</button>
            </template>
            <button type="button" class="disabled btn btn-light" data-toggle="tooltip" title="Current page">[[current_page]] </button>
            <template v-if="current_page + 1 < Math.ceil(total_count/page_size)">
                <button type="button" class="btn btn-light" @click="get_page(current_page + 1)">[[current_page + 1]]</button>
            </template>
            <template v-if="current_page + 2 < Math.ceil(total_count/page_size)">
                <button type="button" class="btn btn-light" @click="get_page(current_page +2)">[[current_page + 2]]</button>
            </template>
            <template v-if="current_page < Math.ceil(total_count/page_size) -1">
                &nbsp;<font size="5" class="text-white">...</font>&nbsp;
            </template>
            <template v-if="current_page != Math.ceil(total_count/page_size)  && total_count > 0">
                <button type="button" class="btn btn-light" data-toggle="tooltip" title="Go to last page" @click="get_page(Math.ceil(total_count/page_size))">[[Math.ceil(total_count/page_size)]]</button>
            </template>

            <button type="button" :class="current_page == Math.ceil(total_count/page_size) || Math.ceil(total_count/page_size) == 0? 'disabled btn btn-light': 'btn btn-light'" data-toggle="tooltip" title="Go forward one page" @click="get_page(current_page + 1)">>></button>
            &nbsp;<font size="4" class="text-white">Total Count: [[total_count]]</font>
        </div>

        <div style="display:inline-block; float:right">
            <span class="input-group">
            <input type="number" size="10rem" :placeholder="page_size" id="page_size" @keyup.enter="get_new_page_size()">
            <div class="input-group-append input-group-btn" ><button  type="button" class="btn btn{{config['outline-buttons']}}success" @click="get_new_page_size()">Edit page size</button></div>
            </span>
        </div>
    </div>
</div>
<!-- THIS IS OUR MODAL FOR ADDING A COMMENT -->
<div class="modal fade" id="addCommentModal" role="dialog" >
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>Add / Edit Comment</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
              <div class="modal-body">
                <textarea rows="5" cols="50" id="addCommentTextArea"></textarea>
              </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}success" data-dismiss="modal" id="addCommentSubmit" aria-hidden="true">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR ADDING A COMMENT -->

{% endblock %}
{% block scripts %}
{% include "view_tasks.js" %}
{% endblock %}

{% block body_config %}

{% endblock %}