__pycache__/
*.py[cod]
# Sphinx documentation
docs/_build/
# Environments
#.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# created payloads
operations/
# pycharm
.idea/
# ssl certs
ssl/
# downloaded files
files/
apfell-docker/app/c2_profiles/
apfell_access.*
postgres-docker/database/
rabbitmq-docker/storage/
apfell/**
**/transforms.py
