sanic
psycopg2-binary
peewee-async
aiopg
peewee
jinja2
uvloop==0.14.0.rc1
git+https://github.com/mikekeda/sanic-wtf
pycryptodome
wtforms
anytree
websockets
sanic-jwt
fpdf
aio-pika
requests
dijkstar
exrex
treelib
shortuuid
ujson