{% extends "base.html" %}
{% block body %}
<div style="position:absolute; top:20%; left:35%">
    {% if successful_creation %}
    <div class="alert alert-success" role="alert">
        Successfully created a new user! An admin must activate your account before you can log in.
    </div>
    {% endif %}
        <img src="/static/red_blue_login.png" style="height:calc(40vh)" class="center">
        <form action="" method="post">
        {{ errors.token_errors }}
            <span style="color: darkred;"><b>{{ errors.username_errors }}</b></span>
    {{ form.csrf_token }}
        <table>
            <tr style="vertical-align:middle">
                <td style="vertical-align:bottom"><h4 style="color:white">Username</h4></td>
                <td style="vertical-align:middle; padding-left:10px">{{form.username(size=32, class_="form-control")}}
                    <br>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:bottom"><h4 style="color:white">Password</h4></td>
                <td style="padding-left:10px">{{form.password(size=32, class_="form-control")}}
                    <br>
                </td>
            </tr>
            <tr>
                <td><br>{{form.submit(class_="btn btn-secondary")}}</td>
                <td></td>
            </tr>
        </table>
        </form>
        <p >New User? <a href="{{ links.register }}">Click to Register!</a></p>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body_config %}
body{
    background:  linear-gradient(135deg, transparent 0%,#646f80 70%, #122443 100%);
    width:100vw;
    height:100vh;
    background-size: cover;
    color: white;
    padding:0;
    margin:0;
}
input[type=text]{
    border: 1px solid white;
}
input[type=password]{
    border: 1px solid white;
}
.center {
    display:block;
    margin-left:auto;
    margin-right:auto
}
{% endblock %}