{% extends "base.html" %}
{% block body %}
<div class="card border border-dark shadow" style="margin-top:5px">
    <div class="card-header bg-header border border-dark text-light">
        <h1>Welcome to <span class="operator"> Mythic </span></h1>
    </div>
    <div class="card-body border border-dark bg-card-body shadow" >
        <div class="card card-body bg-card-body-l2 border border-dark shadow" style="display:inline-block;width:100%">
            <b>Remember: </b> You must set your current operation before you can use most of the features in Mythic. Your current operation is listed at the top next to the "Reporting" dropdown.
        </div>
    </div>
</div><br>

<div class="card border border-dark shadow">
    <div class="card-header bg-header border border-dark shadow text-light">
        <h3><span class="operator"> Mythic </span> Quick Start Guide</h3>
    </div>
    <div class="card-body border border-dark bg-card-body">
        <ol>
            <li>Create a payload at <a href="{{links.payloads_creation}}">Create Components -> Create Payload</a></li>
            <ul>
                <li>Select the desired OS</li>
                <li>Select the C2 and fill out any parameters</li>
                <li>Select the Payload Type</li>
                <li>Select the commands you want stamped in</li>
                <li>Upon creation, this will automatically start the selected C2 Server</li>
            </ul>
            <li>Download your payload from the popup or from <a href="{{links.payload_management}}">Operational Views -> Created Payloads</a></li>
            <li>Run your payload on the target</li>
            <ul>
                <li>For information on the payloads, check out the <a href="http://{{links.server_ip}}:{{links.DOCUMENTATION_PORT}}" target="_blank">internal documentation</a></li>
            </ul>
            <li>Interact with your callback at <a href="{{links.callbacks}}">Operational Views -> Active Callbacks</a></li>
        </ol>
    </div>
</div><br>

<div class="card border-dark shadow">
    <div class="card-header bg-header border border-dark shadow text-light">
        <h5><span class="operator"> Local </span> Documentation</h5>
    </div>
    <div class="card card-body bg-card-body-l2 border border-dark shadow" style="display:inline-block;width:100%">
        If you have the documentation container started, then you can get detailed payload and c2 profile information <a href="http://{{links.server_ip}}:{{links.DOCUMENTATION_PORT}}" target="_blank">here</a>.
    </div>
</div>
<div class="card border-dark shadow">
    <div class="card-header bg-header border border-dark shadow text-light">
        <h5><span class="operator"> Public </span> Documentation</h5>
    </div>
    <div class="card card-body bg-card-body-l2 border border-dark shadow" style="display:inline-block;width:100%">
        There are more docs at <a href="https://docs.mythic-c2.net" target="_blank">docs.mythic-c2.net</a>
    </div>
</div>
<div class="card border-dark shadow">
    <div class="card-header bg-header border border-dark shadow text-light">
        <h5><span class="operator"> Community </span> Contact</h5>
    </div>
    <div class="card card-body bg-card-body-l2 border border-dark shadow" style="display:inline-block;width:100%">
        The #mythic (formerly #apfell) channel in the <a href="https://bloodhoundgang.herokuapp.com/" target="_blank"> Bloodhound Slack</a> is a great forum for discussion, questions, comments, etc.
        <br>Every Payload Type, C2 Profile, Command, and Browser Script should have an author associated with it. These tend to be Twitter profiles, so feel free to reach out to them as well.
    </div>
</div>
<div class="card border-dark shadow">
    <div class="card-header bg-header border border-dark shadow text-light">
        <h5><span class="operator"> GitHub </span> Documentation</h5>
    </div>
    <div class="card card-body bg-card-body-l2 border border-dark shadow" style="display:inline-block;width:100%">
        Since Mythic is public, you can always open issues/requests on <a href="https://github.com/its-a-feature/Mythic" target="_blank">GitHub</a>
    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}

{% block body_config %}
{% endblock %}