{% extends "base.html" %}
{% block body_config %}
body{
    background:  linear-gradient(135deg, transparent 0%,#646f80 70%, #122443 100%);
    width:10vw;
    height:100vh;
    background-size: cover;
    color: white;
}
input[type=text]{
    border: 1px solid white;
}
input[type=password]{
    border: 1px solid white;
}
}
{% endblock %}
{% block body %}
<div style="position:absolute; top:20%; left:35%">
    <img src="/static/red_blue_login.png" style="height:calc(40vh)" class="center">
    <form action="" method="post">
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.csrf_token }}
        <table>
            <tr>
                <td style="vertical-align:bottom"><h4 style="color:white">Username</h4></td>
                <td>{{ form.username(size=32, class_="form-control", style="color:black") }}
                    <br>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:bottom"><h4 style="color:white">Password</h4></td>
                <td>{{ form.password(size=32, class_="form-control", style="color:black") }}
                    <br>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:bottom"><h4 style="color:white">Repeat Password</h4></td>
                <td>{{ form.password2(size=32, class_="form-control", style="color:black") }}
                    <br>
                </td>
            </tr>
            <tr>
                <td>{{ form.submit(class_="btn btn-secondary") }}</td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
