{% extends "base.html" %}
{% block body %}
<div class="card border border-dark shadow bg-card-body" id="task_info" style="overflow-y:auto;margin-top:5px">
    <div class="card-header bg-header border border-dark shadow text-white">
        <h2><span class="operator">Task {{tid}}</span> [[callback.user]]@[[callback.host]]([[callback.pid]]) - Callback <a :href="'{{http}}://{{links.server_ip}}:{{links.server_port}}/split_callbacks/' + callback.id">[[callback.id]]</a></h2>
    </div>
    <div class="card-body response-background border border-dark shadow" style="word-wrap: break-word;padding:0;margin:0;height:calc(85vh)">
        <div class="card-header border-dark bg-header-dark" :key="'headera' + task.id" style="position:-webkit-sticky;position:static;top:0;padding-bottom:0;padding-top:0px;padding-left:0;white-space:nowrap;overflow-x:auto;max-width:100%">
            <transition-group>
             <button v-if="task.comment != '' && task.comment_visible" :key="'keya' + task.id" class="btn btn{{config['outline-buttons']}}danger btn-sm" @click="remove_comment(task)" style="padding:0px 4px;margin-left:2px;margin-top:2px;border:0"><i class="fas fa-trash-alt"></i></button>
             <p v-if="task.comment != '' && task.comment_visible" :key="'keyb' + task.id" class="card-text" style="margin:0;display:inline-block">
                <small class="text-muted">[[task.comment_operator]]'s comment:</small></p>
             <pre v-if="task.comment != '' && task.comment_visible" :key="'keyc' + task.id" style="padding-left:27px">[[task.comment]]</pre>
             <hr v-if="task.comment != '' && task.comment_visible" :key="'keyd' + task.id" style="margin-bottom: 0;margin-top:6px">

             <div class="btn-group dropdown" :key="'statusdropdown' + task.id" style="display:inline-block">
                <template v-if="task.completed == true && task.status != 'error'">
                    <button class="btn btn{{config['outline-buttons']}}success btn-sm dropdown-toggle" data-boundary="viewport" style="border:0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="card-text">completed</span></button>
                </button>
                </template>
                <template v-else-if="task.status == 'processed'">
                    <button class="btn btn{{config['outline-buttons']}}primary btn-sm dropdown-toggle" data-boundary="viewport" style="border:0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="card-text">[[task.status]]</span></button>
                </template>
                <template v-else-if="task.status == 'processing'">
                    <button class="btn btn{{config['outline-buttons']}}warning btn-sm dropdown-toggle" data-boundary="viewport" style="border:0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="card-text">[[task.status]]</span></button>
                </template>
                <template v-else-if="task.status == 'error'">
                    <button class="btn btn{{config['outline-buttons']}}danger btn-sm dropdown-toggle" data-boundary="viewport" style="border:0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="card-text">[[task.status]]</span></button>
                </template>
                <template v-else>
                    <button class="btn btn{{config['outline-buttons']}}info btn-sm dropdown-toggle" data-boundary="viewport" style="border:0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="card-text">[[task.status]]</span></button>
                </template>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-toggle="tooltip" title="Add comment to task" @click="add_comment(task)"><i class="fas fa-comments"></i> Comment</a>
                    <a class="dropdown-item" href="#" data-toggle="tooltip" title="download raw output" @click="download_raw_output(task.id)"><i class="fas fa-save"></i> Save Output</a>
                    <a class="dropdown-item" href="#" data-toggle="tooltip" title="Copy command to clipboard" @click="copyStringToClipboard(task.command + ' ' + task.original_params)"><i class="far fa-copy" ></i> Copy Command</a>
                    <a class="dropdown-item" href="#" data-toggle="tooltip" title="Toggle application of browser scripts to output of this task" @click="task.use_scripted = !task.use_scripted; task_info.$forceUpdate();"><i class="fas fa-code"></i>
                        <template v-if="task.use_scripted">
                            Disable Browser Script
                        </template>
                        <template v-else>
                            Enable Browser Script
                        </template>
                    </a>
                </div>
            </div>
             <p :key="'mutedtext' + task.id" class="card-text" style="margin:0;display:inline-block"><small class="text-muted">
                [[task.operator]]'s task: <a :href="task.href" target="_blank" data-toggle="tooltip" title="View task and output in a separate window">[[task.id]]</a>
                - at [[toLocalTime(task.timestamp)]]
             </small></p>
             <a :key="'commentdots' + task.id" v-if="task.comment !== ''" style="padding-bottom:0" class="btn btn-link" type="button" @click="toggle_comment(task)"><i class="far fa-comment-dots" ></i></a>
             <br :key="'br' + task.id">
             <a :key="'toggleoutput' + task.id" class="btn btn-link" type="button" style="border:0;padding:0 0 5px 5px" data-toggle="collapse" :data-target="'#cardbody' + task.id" aria-expanded="false" :aria-controls="'cardbody' + task.id" @click="toggle_arrow(task)"><i :id="'color-arrow' + task.id" class="fas fa-plus fa-xs" data-toggle="tooltip" title="view / hide task output"></i></a>
                <div style="display:inline-block" :key="'taskcommand' + task.id"><b>&nbsp;[[task.command]]&nbsp;</b></div>
             <div style="display:inline-block" :key="'taskparams' + task.id">[[task.original_params]]</div>
            </transition-group>
        </div>
        <div :key="'outputcontent' + task.id" class="collapse" :id="'cardbody' + task.id" >
            <div :key="'outputcontentcardbody' + task.id" class="response-background card-body shadow" style="padding-top:0;padding-bottom: 0" >
                <div :key="'showparams' + task.id" v-if="task.show_params">
                    Modified Parameters: &nbsp;[[task.params]]
                </div>
                <span :key="'usescripted' + task.id" v-if="task.hasOwnProperty('scripted') && task.use_scripted" v-html="task.scripted"></span>
                <span v-else :key="'useregular' + task.id" class="card-text" v-for="rsp in task.response" :key="rsp.id" :id="'response' + rsp.id" style="white-space: pre-wrap"><span class="response"><pre>[[rsp.response]]</pre></span></span>
            </div>
    </div>
    </div>
</div>
<!-- THIS IS OUR MODAL FOR ADDING A COMMENT -->
<div class="modal fade" id="addCommentModal" role="dialog" >
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h3>Add / Edit Comment</h3>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            Shift+Enter to add a new line, Enter to submit
              <div class="modal-body">
                <textarea class="form-control" rows="5" style="width:100%" id="addCommentTextArea"></textarea>
              </div>
              <div class="modal-footer">
                <button class="btn btn{{config['outline-buttons']}}success" data-dismiss="modal" id="addCommentSubmit" aria-hidden="true">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR ADDING A COMMENT -->
{% endblock %}

{% block scripts %}
{% include "share_task.js" %}
{% endblock %}

{% block body_config %}

{% endblock %}