{% extends "base.html" %}

{% block body %}
<h2>Basic Analytics Dashboard</h2>
<h4>Current Callback Tree:</h4>
<div id="callbacktree" style="white-space: pre-wrap">[[callback_tree_data]]</div>
<button type="button" class="btn btn-info btn-md" onclick="show_removed_button()">Toggle Removed</button>
<button type="button" class="btn btn-info btn-md" onclick="show_removed_strike_button()">Toggle Strikethrough</button>
<br>
<h4>Payload, C2Profile, Callback Relationship:</h4>
<p>Which payloads are being used by which callbacks.</p>
<div id="payloadtree" style="white-space: pre-wrap">[[pload_tree]]</div>
<button type="button" class="btn btn-info btn-md" onclick="show_removed_payload_button()">Toggle Removed</button>
<button type="button" class="btn btn-info btn-md" onclick="show_removed_payload_strike_button()">Toggle Strikethrough</button>
<button type="button" class="btn btn-warning btn-md" onclick="adjust_callback_relationship_button()">Adjust Callback Relationship</button>

<!-- THIS IS OUR MODAL FOR ADJUSTING RELATIONSHIP -->
<div class="modal fade bs-example-modal-md" id="adjustCallbackRelationshipModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Adjust Callback Relationship</h3>
            </div>
              <div class="modal-body">
                  <h4>Select Parent Callback:</h4>
                  <select id="adjustCallbackRelationshipParentCallback" v-model="parent">
                      <option value="-1">No Parent</option>
                      <option v-for="c in callbacks" :value="c.id" :key="c.id">[[c.user]]@[[c.host]]([[c.pid]]) - [[c.description]]</option>
                  </select>
                  <h4>Select Child Callback:</h4>
                  <select id="adjustCallbackRelationshipChildCallback" v-model="child">
                      <option v-for="c in callbacks" :value="c.id" :key="c.id">[[c.user]]@[[c.host]]([[c.pid]]) - [[c.description]]</option>
                  </select>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" id="adjustCallbackRelationshipSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR ADJUSTING RELATIONSHIP -->

<br>
<h4 hidden>List of Compromised Hosts:</h4>
<h4 hidden>Total Commands issued, Sorted by User:</h4>
<h4 hidden>Total Commands issued, Sorted by Host:</h4>
<h4 hidden>Total Commands issued, Sorted by Callback:</h4>
<h4 hidden>Most Callbacks created, Sorted by User:</h4>
<h4 hidden>Host with most inactive callbacks:</h4>
<h4 hidden>Tasks with the average biggest response:</h4>
<h4 hidden>Tasks that took the longest to execute:</h4>

{% endblock %}

{% block scripts %}
{% include "analytics.js" %}
{% endblock %}
