{% extends "base.html" %}
{% block body %}
<h1>
    apfell-jxa documentation
</h1>
<h3>
    Design
</h3>
<p>
    coming in future blog posts. One thing to note right now: data comes back in a bunch of 7kB base64 encoded chunks.
</p>
<h3>
    Commands
</h3>
{% for type in cmd.payload_types %}
<div style="resize: vertical; overflow:visible" class="panel panel-primary">
    <div class="panel-heading">{{ type.name }} Command Listing</div>
        <table class="table table-striped table-hover table-condensed" >
            <tr>
                <td><b>Command</b></td>
                <td><b>Help</b></td>
                <td><b>description</b></td>
                <td><b>Needs Admin</b></td>
            </tr>
            {% for c in type.commands %}
            <tr>
                <td>{{ c.cmd }}</td>
                <td>{{ c.help }}</td>
                <td>{{ c.description }}</td>
                <td>{{ c.needs_admin }}</td>
            </tr>
            {% endfor %}

        </table>
</div>
{% endfor %}
{% endblock %}
{% block scripts %}

{% endblock %}