{% extends "base.html" %}
{% block body %}
<h1>
    apfell-jxa documentation
</h1>
<h3>
    Design
</h3>
<p>
    coming in future blog posts. One thing to note right now: data comes back in a bunch of 7kB chunks. This is arbitrary, but tied to the current postgres table declarations.
</p>
<h3>
    Commands
</h3>
<ul>
    <dt>shell {command}</dt>
    <dd>This runs {command} in a terminal by leveraging JXA's Application.doShellScript({command})</dd>
    <dt>js {command}</dt>
    <dd>This runs the JavaScript command, {command}, and returns its output</dd>
    <dt>jsb {command}</dt>
    <dd>This runs the ObjectiveC bridge JavaScript command, {command}, and returns its output. This will call deepunwrap on the output to convert the ObjectiveC objects to normal strings to be returned </dd>
    <dt>shell_elevated</dt>
    <dd>This creates two popup dialogs prompting for a command to run and a prompt to give the user. The command will use your prompt to pop a dialog box for the user asking for them to input their password so that the command you entered will be executed in an elevated context</dd>
    <dt>shell_api</dt>
    <dd>This creates two popup dialogs prompting for a <strong>full</strong> binpath and then arguments for that binary. The command uses the ObjectiveC bridge to spawn that process with those arguments on the computer and get your output back. It is not interactive.</dd>
    <dt>launchapp {bundle name}</dt>
    <dd>This uses the Objective C bridge to launch the specified app asynchronously and 'hidden' (it'll still show up in the dock for now). An example of the bundle name is 'com.apple.itunes' for launching iTunes.</dd>
    <dt>clipboard</dt>
    <dd>This will return the current clipboard contents on the target machine.</dd>
    <dt>clipboard [data]</dt>
    <dd>This will set the clipboard data to [data]</dd>
    <dt>exit</dt>
    <dd>This exits the current apfell-jxa instance by leveraging the ObjectiveC bridge's NSApplication terminate function.</dd>
    <dt>list_apps [verbose]</dt>
    <dd>This uses JXA to list the currently running processes on the sytem and provides some information about them. To get a lot of information, use the <strong>verbose</strong> optional parameter</dd>
    <dt>list_users [method]</dt>
    <dd>This uses JXA to list the non-service user accounts on the system. In the future you can specify a [method] to do this via the ObjectiveC bridge or other methods.</dd>
    <dt>current_user [method]</dt>
    <dd>This uses JXA to list information about the current user. In the future you can specify a [method] to do this via the ObjectiveC bridge or other methods.</dd>
    <dt>security_info [method]</dt>
    <dd>This uses JXA to list some security information about the system. In the future you can specify a [method] to do this via the ObjectiveC bridge or other methods.</dd>
    <dt>chrome_tabs</dt>
    <dd>This uses JXA to list information about all of the open tabs in all of the open Chrome instances. If Chrome is not currently running, this will launch Chrome (potential OPSEC issue) and might have a conflict with trying to access Chrome tabs as Chrome is starting. It's recommended to not use this unless Chrome is already running. Use the <strong>list_apps</strong> function to check if Chrome is running.</dd>
    <dt>chrome_bookmarks</dt>
    <dd>This uses JXA to list information about all of the bookmarks in Chrome. If Chrome is not currently running, this will launch Chrome (potential OPSEC issue) and might have a conflict with trying to access Chrome's bookmarks as Chrome is starting. It's recommended to not use this unless Chrome is already running. Use the <strong>list_apps</strong> function to check if Chrome is running.</dd>
    <dt>js_chrome {window ID number} {tab ID number} {JavaScript}</dt>
    <dd>This uses JXA to execute the specified JavaScript code into a specific browser tab. The <strong>chrome_tabs</strong> function will specify for each tab the window/tab numbers that you can use for this function.</dd>
    <dt>system_info [method]</dt>
    <dd>This uses JXA to get some system information. In the future you can specify a [method] to do this via the ObjectiveC bridge or other methods.</dd>
    <dt>terminals read [history] [contents]</dt>
    <dd>This uses JXA to read information about open instances of Apple's Terminal.app. The <strong>contents</strong> flag allows you to see exactly what the user can see at that moment on the screen. The <strong>history</strong> flag allows you to see everything that's in that tab's scroll history. This can be a lot of information, so keep that in mind. This function will also give you the window/tab information for each open session and a bunch of other information.</dd>
    <dt>terminals send {window ID number} {tab ID number} {command}</dt>
    <dd>This uses JXA to inject the shell command, {command}, into the specified terminal shell as if the user typed it from the keyboard. This is pretty powerful. Consider the instance where the user is SSH-ed into another machine via terminal - with this you can inject commands to run on the remote host. Just remember, the user will be able to see the command, but you can always see what they see as well with the <strong>terminals read contents</strong> command.</dd>
</ul>
{% endblock %}
{% block scripts %}

{% endblock %}