{% extends "base.html" %}

{% block body %}
<h1>
    General Apfell Extension Documentation
</h1>
<p>This page serves as a general outline of information if you want to modify, extend, or leverage some of the more dynamic features of Apfell</p><br>
<h4><b>Special Commands Behind the Scenes</b></h4>
<p>Some commands are treated a little differently than others so that it's easier to hook into some of the functionality of Apfell.
If you want to write commands that leverage this, simply structure your messages the same way.</p>
<ul>
    <li><strong>Upload</strong><ul>
        <li>User Typed Command Line: <strong>upload {"remote_path": "/users/itsafeature/Desktop/tes.png", "file_id": 65}</strong></li>
        <ul>
            <li>Alternatively, the user could type <b>upload</b> and at the prompt, supply a file_id for an already registered file, or select a local file to upload</li>
            <li>If you want to upload a file that's already on the Apfell server but not registered in the database, go to the <b>Services -> Host Files</b> page, select <b>Host New Files</b>, select <b>local file</b>, and provide the absolute path</li>
        </ul>
        <li>This is uploading a file from the Apfell server (registered id 65) to the victim machine at the specified location</li>
        <li>When we're uploading files to the victim, we have to always do some sort of preprocessing to make sure we give the agent stuff it understand, like local files (to the agent) and file_id numbers it can use to reach back
            <ul>
                <li>I register the uploaded file in the FileMeta table of the database and mark it as complete, so it now has a file_id associated with it</li>
                <li>Our new command that the agent actually sees is something like: <strong>upload {"remote_path": "/users/itsafeature/Desktop/tes.png", "file_id": 65}</strong></li>
            </ul>
        </li>
        <li>Now the agent can do a GET request against the /api/v1.0/files/15 to pull down the file as a base64 encoded blob</li>
        <li>As an operator, you can get the file at /api/v1.0/files/download/15 and pull it down normally</li>
        <li>Uploaded files live in ./app/files/{operation name}/</li>
    </ul>
    </li>
    <li><strong>Download</strong><ul>
        <li>User Typed Command Line: <strong>download "/user/its-a-feature/Desktop/totally not malware.pdf"</strong></li>
        <li>This downloads the file from the victim machine to the Apfell server</li>
        <li>All downloads automatically go to <strong>Apfell/app/files/operation_name/downloads/hostname/file_name</strong> when completed</li>
        <li>The quotes around this file path aren't necessary</li>
        <li>We do need to do some chunking and pre-configuring from the agent side to get ready to exfiltrate this file though</li>
        <li>The agent needs to:<ul>
            <li>Calculate the size of the file we're going to be exfiltrating and determine how many chunks it will take to send the whole file.</li>
            <li>Send an initial response to the Apfell server of: <strong>{"response": "eyJ0b3RhbF9jaHVua3MiOiA0LCAidGFzayI6IDI1fQ=="}</strong>, which decoded is: <strong>{"total_chunks": 4, "task": 25}</strong></li>
            <li>The Apfell server will take this information and start a FileMeta object for the task. It will then return status information, information about the request, and most importantly, a <strong>"file_id": #</strong> field that indicates the file id associated with this new FileMeta object</li>
            <li>Now the agent will send the file data with responses of: <strong>{"response": "base64data=="}</strong> which will decode to: <strong>{"chunk_num": 1, "file_id": #_from_prior_response, "chunk_data": base64_blob==}</strong> for each chunk of data</li>
            <li>When the Apfell server has recieved the last chunk, it'll automatically mark the file as <strong>complete</strong>, which will allow you to download it.</li>
        </ul></li>
        <li>The operator will be informed of the initial response back (with data about how many chunks the download will take, where the file will be saved, and the file_id)</li>
        <li>The operator will be informed of each chunk it receives.</li>
    </ul></li>
    <li><strong>Screencapture</strong><ul>
        <li>User Typed Command Line: <strong>screencapture</strong></li>
        <li>This instructs the agent to take a screencapture and send it back</li>
        <li>Apfell will automatically append the current UTC date and .png to the end of the command as the filename to save the output to<ul>
            <li>The new final task will be: <strong>screencapture 2018-11-12-17:05:59.png</strong></li>
        </ul></li>
        <li>From the perspective of the agent, this follows the same structure as <strong>download</strong>.<ul>
            <li>Calculate size of what we're sending (screencapture on a mac can be a few MB, especially as you start talking about high resolution monitors)</li>
            <li>Calculate the number of chunks required to send this over whatever C2 mechanism we're using</li>
            <li>Send the initial response with the total number of chunks and the task id</li>
            <li>Get back a file_id</li>
            <li>Make subsequent responses with the file_id and chunk_data</li>
        </ul></li>
        <li>All screencaptures are stored in <strong>Apfell/app/files/operation_name/downloads/host_name/screenshots/timestamp.png</strong></li>
    </ul></li>
    <li><strong>Keylog</strong><ul>
        <li>User Typed Command Line: <strong>keylog</strong></li>
        <li>This instructs the agent to start keylogging</li>
        <li>The Agent should send back an initial response of <strong>{"response": "eyJzdGF0dXMiOiAic3RhcnRlZCJ9"}</strong> which decodes to: <strong>{"status": "started"}</strong>. The main key here is returning something in a "status" key so that it will be presented to the user</li>
        <li>Outside of the "status" key, no information is presented to the main user console (We don't want to flood them with "got keystroke" messages)</li>
        <li>When sending actual keystroke data (instead of just status messages), there are three main pieces of information that should be sent that allow Apfell to do more interesting tracking and grouping<ul>
            <li>The responses should be: <strong>{"response": "eyJ1c2VyIjogIml0cy1hLWZlYXR1cmUiLCAid2luZG93X3RpdGxlIjogIk5vdGVwYWQgLSBVbnRpdGxlZCIsICJrZXlzdHJva2VzIjogIm15IHBhc3N3b3JkIGlzIHplcjBjMDBsIn0="}</strong> for example which decodes to <strong>{"user": "its-a-feature", "window_title": "Notepad - Untitled", "keystrokes": "my password is zer0c00l"}</strong></li>
            <li>The only absolutely mandatory field in here is the "keystrokes" field, if the others aren't specified, then they're substituted with "unknown".</li>
            <li>The agent is the best one to know which user is actually being keylogged (if it's possible to tell), so it should report that information back. It's not something the Apfell server can infer based on current data</li>
            <li>The break out of the window title also allows Apfell to do special grouping by window titles and aggregate all of that information together instead of strictly broken out by time</li>
        </ul></li>
    </ul></li>
    <li><strong>Load</strong><ul>
        <li>User Typed Command Line: <strong>load shell, jscript, screencapture</strong></li>
        <li>This instructs the agent to load the registered commands "shell", "jscript", and "screencapture"</li>
        <li>The agent doesn't know what these commands are, so we need to do some processing first</li>
        <li>Apfell will load the paths of each of these files into an array and pass this off to the first <strong>Transform</strong> listed for loading that's associated with the payload's type<ul>
            <li>For more information on Transforms, see the "Transforms" section</li>
        </ul></li>
        <li>At the end of all the transforms, there should be a file path returned<ul>
            <li>If you don't do any transforms, then Apfell will just use the file path associated, but then it can only do one command at a time</li>
        </ul></li>
        <li>Apfell will then register this file path as a FileMeta object and return a file_id (similar to when we upload a file) in the task</li>
        <li>The new command that the agent will see is something like: <strong>load 15</strong></li>
        <li>The agent can then pull down that file <strong>/api/v1.0/files/15</strong> and do what it needs to do to successfully load the new functionality</li>
    </ul></li>
</ul>

<h4><b>Transforms</b></h4>
<p>Transforms are arbitrary python functions that are used for two main purposes: perform actions against a new payload after all the pieces have been stamped together or perform actions against a set of command modules prior to them being loaded by an agent.</p>
<ul>
    <li><strong>Location</strong><ul>
        <li>All transforms are located in <strong>Apfell/app/api/utils.py</strong> in the <strong>TransformOperation</strong> class</li>
    </ul></li>
    <li><strong>Format</strong><ul>
        <li>All transforms use Python3's TypeHints to provide more information back to the operator</li>
        <li>Instead of a normal Python function defined as follows: async def compile(self, payload, prior_output, compile_command)<ul>
            <li>We get a Python function that looks like: async def compile(self, payload<b>: Payload</b>, prior_output<b>: FilePath</b>, compile_command<b>: str</b>)<b> -> FilePath</b>:</li>
        </ul></li>
        <li>All transform functions have 3 parameters: The payload object, the output from the prior transform, and a transform specific parameter that's passed in as a string</li>
        <li>By specifying the type of the prior_output and the return type, it's easy to see in the user interface when transforms chain together</li>
    </ul></li>
    <li><strong>New Types</strong><ul>
        <li>Python has the ability to add new types that can be used in these type hints, which are treated like aliases</li>
        <li><b>FilePath</b> is an example of this (you can see it a few lines above as an input and output type)</li>
        <li>These are declared at the top like: <strong>FilePath = NewType('FilePath', str)</strong>. In this case, FilePath is really nothing more than a string, but it gives the operator more context about what the string should be and how it'll be used</li>
        <li>In this case, you can access it just as if it was a str type</li>
    </ul></li>
    <li><strong>Adding Transforms</strong><ul>
        <li>Adding a new transform is really easy. Just add a new function in the <b>TransformOperation</b> class in the <b>Apfell/app/api/utils.py</b> file. When you restart the server, your new code and type hints will be available everywhere.</li>
    </ul></li>
    <li><strong>Applying Transforms</strong><ul>
        <li>Now that you have transforms available, applying them to payload types is really straight forward from the UI (or you can use th CLI options via RESTful interface calls manually)</li>
        <li>In the <b>Manage Operations -> Payload Management</b> page, simply click <b>Edit</b> for the payload type you're interested in.<ul>
            <li>If you want to edit the transforms that are applied after a payload is stamped together, click the button in the <b>Payload Creation Transforms</b> column</li>
            <li>If you want to edit the transforms that are applied during the <b>load</b> process for new modules, click the button in the <b>Module Load Transforms</b> column</li>
        </ul></li>
    </ul></li>
</ul>

<h4><b>Creating Custom C2 Profiles</b></h4>
<p>It's allowed and recommended that users create their own c2 profiles for whatever they want. The user interface allows for many ways to register them, give them parameters, and upload the code to run your custom server as well as supply the c2 code that will be stamped into a payload that is registered with that c2 profile. Let's walk through some examples:</p>
<ul>
    <li>I want a C2 that {uses 3rd party service X | <b>has different endpoints</b> | encodes data in the X field | etc etc}<ul>
        <li>Awesome! I do too! But, what all do you need to do to achieve this? Let's walk through an example for using different endpoints.<ol>
            <li>Decide what you want your profile to be called. I chose <b>RESTful Patchthrough</b> since all I'll be doing is setting up different RESTful endpoints for the agent to hit and passing the data through. There's opportunity here to of course perform any other transforms on the data that you want (like encrypt/decrypt) but that's up to you.</li>
            <li>Create a file called <b>Name_server</b>, so in my case, <b>RESTful Patchthrough_server</b>. This will be the code that's executed when you select to start your new c2 server from the UI. It's important to note that all I do is essentially dot slash your code as a background task (<b>./RESTful Patchthrough_server &</b>), so format your code appropriately. This means though that you can use binaries or even just shebang-ed scripts (adding <b>#! /path/to/thing/to/use/to/execute</b> at the top of your script). Note that this does not have a file type extension.</li>
            <li>In this new file, you can do whatever you want for your secret sauce c2 profile, but in the end, you should be hitting the following 4 endpoints back on the Apfell server:<ol>
                <li>http://localhost/api/v1.0/callbacks/<ul>
                    <li>POST here to register your initial callback</li>
                </ul></li>
                <li>http://localhost/api/v1.0/tasks/callback/{}/nextTask<ul>
                    <li>GET here to get your next task, or {"command": "none"} if there's no new task. The {} is a placeholder for your callback ID that you got from registering your callback</li>
                </ul></li>
                <li>http://localhost/api/v1.0/responses/{}<ul>
                    <li>POST here with the output of the task you got from the above URL. The {} is a placeholder for the task ID you got from asking for your next task</li>
                </ul></li>
                <li>http://localhost/api/v1.0/files/{}<ul>
                    <li>GET here to get a file required by your agent. This can include things like more payloads or files to upload to the victim. The {} is a placeholder for a file ID you received in your tasking.</li>
                </ul></li>
            </ol></li>
            <li>Now you have the server code that'll handle your special interactions with the Apfell server and your agent. But, no agent speaks your new C2 yet. So, let's do that. For each payload type you want to support, you need to write the corresponding code that will be stamped into that payload. For our example, I'm supporting the Apfell-jxa payload, so I need to write some JavaScript for Automation (JXA) code. This should have the same file extension as the registered file extension for the payload type (.js in my case). So, I create the file <b>RESTful Patchthrough.js</b></li>
            <li>In this new file, you can do whatever you want for your secret sauce c2 profile, but in order for it to be seamlessly used by the apfell-jxa payload, you need to implement a few functions. This is possible because all throughout the main payload code, I simply call the specific functions on the C2 class you create. I don't provide any implementations though, that's for you to do. This is more of an <i>Interface</i> that you extend. Here's what I mean: <ul>
                <li><span style="white-space: pre-wrap">
    class baseC2{
        constructor(interval, baseurl){
            this.interval = interval; //seconds between callbacks
            this.baseurl = baseurl; //where to reach out to
            this.commands = [];
        }
        getInterval(){
            return this.interval;
        }
        checkin(){
            //check in with c2 server
        }
        getTasking(){
            //reach out to wherever to get tasking
        }
        getConfig(){
            //gets the current configuration for tasking
        }
        postResponse(task, output){
            //output a response to a task
        }
        setConfig(params){
            //updates the current configuration for how to get tasking
        }
        download(task, params){
            //gets a file from the apfell server in some way
        }
        upload(task, params){
            //uploads a file in some way to the teamserver
        }
    }
                </span></li>
                <li>This is the base C2 class. When you create your own class, you do the following: <br>
                <span style="white-space: pre-wrap">
    class customC2 extends baseC2{
	constructor(interval, baseurl){
		super(interval, baseurl);
		this.commands = [];
		this.host_header = "YYY";
	}
	getConfig(){
		//A RESTful base config consists of the following:
		//  BaseURL (includes Port), CallbackInterval, KillDate (not implemented yet)
		return JSON.stringify({'baseurl': this.baseurl, 'interval': this.interval, 'killdate': '', 'commands': this.commands.join(",")});
	}
                    ...
                </span><br>
                Where you will <b>extend</b> the baseC2 class and actually provide implementations for the above functions. Then, at the end of your class defition, you say:<br>
                <b>C2 = new customC2(callback_interval, "callback_host:callback_port/");</b> and create the variable C2. This variable is what is used throughout the apfell-jxa code to reference into the associated class and call functions. You can have more functions than the ones in the baseC2, but the agent code will only call those base functions. Your declaration can be whatever you want - in my case we need to provide the url and port for the RESTful callbacks, so I made these C2 profile parameters (coming up next) that will get stamped out when the payload is created.</li>
            </ul> </li>
            <li>Now that you have server code and agent code, you need to decide if your agent code is variable. Are there things that users can configure and still operate with your c2 server? In the UI when you create your c2 profile, there's an optional button to add parameters to your profile.<ul>
                <li>These parameters take three components: Name, Key, Hint. <b>Name</b> is what will be displayed to the user when they go to create their payload for the parameter. <b>Key</b> is what is located in your payload specific c2 profile code that will get swapped out with whatever the user inputs when creating a payload. <b>Hint</b> is provided to the user as an example of what to type in the field for the parameter</li>
                <li>One of my parameters for the c2 profile is: <b>Callback Host</b>:<i>callback_host</i>:<u>http(s)://domain.com</u>. This illustrates to the operator that I'm expecting protocol + domain for the callback host.</li>
                <li>If a user does not supply a value for one of your parameters, the hint you provide will be used instead.</li>
            </ul></li>
            <li>Go to <b>Manage Operations -> C2 Profiles Management</b>, click <b>Register C2 Profile</b><ul>
                <li>Provide the name for this c2 profile - <b>RESTful Patchthrough</b> in our case</li>
                <li>Provide a description for what this is doing</li>
                <li>Select the payload types that you support (i.e. that you wrote code for in the prior sections). Each payload type you select will add another section for you to upload code</li>
                <li>The <b>Server file(s)</b> section is where you'll upload the <b>RESTful Patchthrough_server</b> along with any other files that your server code might need to access</li>
                <li>I selected the <b>apfell-jxa</b> payload as a supported payload, so in the additional file option, I upload <b>RESTful Patchthrough.js</b></li>
            </ul></li>
            <li>When you're ready to start your server, simply click the green <b>Start</b> button, and if it successfully starts, it'll change to a red <b>Stop</b> button. Your server is now up and running!</li>
            <li>In your new C2 profile row in the table, there will be a button called <b>Edit</b> under the <b>Parameters</b> column. Click this and you can add any parameters your code needs. Remember, these are parameters to be stamped into your agent c2 code when the payload is created, these are not parameters for your _server code.</li>
            <li>When you're ready to create a payload, simply to go <b>Create Payloads -> Create Base Payload</b> and select your new C2 profile from the dropdown on the left. It should auto populate with the parameters you created and be filled in with the hints you provided.</li>
        </ol></li>
    </ul></li>
</ul>

<h4><b>Encryption</b></h4>
<p>You're able to add in your own encryption via c2 profiles, but Apfell also provides some built-in encryption capabilities for you which live in <b>Apfell/app/crypto.py</b> and <b>Apfell/app/api/crypto_api.py</b>.</p>
<ul>
    <li>Every callback has 3 fields related to encryption:<ul>
        <li><b>encryption_type</b> - The type of encryption to be done with the following two fields. Right now this is limited to <b>AES256</b>, but will expand over time.</li>
        <li><b>encryption_key</b> - Base64 encoded version of the key</li>
        <li><b>decryption_key</b> - Base64 encoded version of the key</li>
    </ul></li>
    <li>Every operation generates specific keys that can be used by all payloads for that operation if desired. Right now, each operation generates a unique AES256 key.</li>
    <li>C2 profiles can specify their own AES crypto keys as desired if you don't want to use the random one generated for the operation<ul>
        <li>If a parameter has a name of <b>AESPSK</b>, it will automatically get populated with the base64 of the operation's key when creating a payload so you have the option to see it or change it as desired </li>
    </ul> </li>
    <li>If you want to use the built in encryption, you will need to hit one of the following endpoints for your initial callback instead of the default <b>/callbacks</b> endpoint.</li>
    <li>Static AES256 Pre-Shared Key: <b>/api/vX/crypto/aes_psk/UUID_HERE</b><ul>
        <li>Apfell will look up the payload specified by "UUID_HERE", check its C2 profile parameters for one with a <b>name</b> of <b>AESPSK</b></li>
        <li>Apfell will then use this value to decrypt the initial checkin data. Upon successfully decrypting it, Apfell will forward the traffic to the normal <b>/callbacks</b> endpoint and specify the above 3 encryption related fields.</li>
        <li>Apfell will then take the response from that call, encrypt it with the same key, base64 encode it, and send it back</li>
        <li>At this point, all future POST data from the agent MUST be encrypted with this key, and data sent to the agent will be encrypted with this key.<ul>
            <li>For those that are curious, all of the endpoints will look up the callback and check if it has encryption, then encrypt/decrypt as necessary. Only the initial checkin will be handled by a separate endpoint</li>
        </ul></li>
    </ul></li>
    <li>Encrypted Key Exchange with AES256 Pre-Shared Key: <b>/api/vX/crypto/EKE/*</b><ul>
        <li>This endpoint is for doing an encrypted key exchange between the agent and apfell with an initially known PSK, but all subsquent requests will use an AES256 session key that's generated during the negotiation.</li>
        <li>The agent and the Apfell server have a shared PSK (similar to the previous endpoint).</li>
        <li>The agent will generate a full RSA Public/Private key pair. It will also generate a random session ID (just 10 random characters). The agent creates a JSON message of <b>{"SESSIONID": session_id_here, "PUB": base64_encoded_public_key}</b>, encrypts it with the shared AES256 key, and sends it off to <b>/api/vX/crypto/EKE/UUID_HERE</b>.</li>
        <li>Apfell will look up the payload specified after /EKE/ by the agent's UUID, check its C2 profile parameters for one with a <b>name</b> of <b>AESPSK</b>, base64 decode the key, and decrypt the agent's message</li>
        <li>Apfell generates a new AES256 session key and a nonce value and crafts them into a JSON message as <b>{"nonce": nonce, "SESSIONKEY": base64_encoded_key}</b>. Apfell then uses the agent's Public key to encrypt the data and send it back. Apfell saves off this new AES key and SESSION ID</li>
        <li>The agent decrypts this message with its Private key and saves the new AES key.</li>
        <li>The agent now gets all of its normal checkin data, encrypts it with the new AES key, and send the data to <b>/api/vX/crypto/EKE/SESSIONID</b>. Notice that it's almost the same URL, but this time you use the SESSIONID instead of the agent's UUID.</li>
        <li>Apfell looks up the SESSIONID to see if there's a corresponding saved AES key, and if so, decrypts the data, sends it off to the normal <b>/callbacks</b> endpoint with the three encryption-based callback fields properly set, and reports back the checkin data as encrypted with the newest AES key</li>
        <li>At this point, all future POST data from the agent MUST be encrypted with this new AES key, and data sent back to the agent will be encrypted with the same key.</li>
    </ul></li>
    <li><b>Encryption Specifics</b><ul>
        <li>AES256<ul>
            <li>Apfell expects CBC AES256 that's padded to 16 bytes.</li>
            <li>The first 16 bytes of the encrypted message must be the IV. This is sent as 'plaintext' that's pre-pended to the encrypted message.</li>
        </ul></li>
        <li>RSA Pub/Priv<ul>
            <li>Apfell uses RSA PKCS1 OAEP</li>
        </ul></li>
    </ul></li>
</ul>
{% endblock %}
{% block scripts %}

{% endblock %}

{% block body_config %}
body{
    background-color:{{ config['background-color'] }};
    color:{{ config['text-color'] }}
}
.panel-body{
    background:{{ config['background-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-primary{
    background:{{ config['background-color'] }}
}
.panel-primary > .panel-heading{
    background-image: none;
    background-color:{{ config['primary-pane'] }};
    color: {{config['primary-pane-text-color']}}
}
.panel-success{
    background:{{ config['background-color'] }}
}
.panel-success > .panel-heading{
    background-image: none;
    background-color:{{ config['success-pane'] }};
    color:{{ config['success-pane-text-color'] }}
}
.panel-warning{
    background:{{ config['background-color'] }}
}
.panel-warning > .panel-heading{
    background-image: none;
    background-color:{{ config['warning-pane'] }};
    color: {{config['warning-pane-text-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-info > .panel-heading{
    background-image: none;
    background-color:{{ config['info-pane'] }};
    color:{{config['info-pane-text-color'] }}
}
.panel-footer{
    background:{{ config['background-color'] }}
}
.btn{
    background-color: {{ config['general-button'] }};
    color: {{ config['general-button-text-color'] }};
    border: {{ config['general-button'] }}
}
.btn-primary{
    background-color: {{ config['primary-button'] }};
    color: {{ config['primary-button-text-color'] }};
    border: {{ config['primary-button'] }}
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus{
    background-color: {{ config['primary-button-hover'] }};
    color: {{ config['primary-button-hover-text-color'] }};
    border: {{ config['primary-button-hover'] }}
}
.btn-success{
    background-color: {{config['success-button'] }};
    color: {{ config['success-button-text-color'] }};
    border: {{config['success-button']}}
}
.btn-success:hover, .btn-success:focus, .btn-success:active:focus{
    background-color: {{config['success-button-hover'] }};
    color: {{ config['success-button-hover-text-color'] }};
    border: {{config['success-button-hover']}}
}
.btn-danger{
    background-color: {{config['danger-button'] }};
    color: {{ config['danger-button-text-color'] }};
    border: {{config['danger-button']}}
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active:focus{
    background-color: {{config['danger-button-hover'] }};
    color: {{ config['danger-button-hover-text-color'] }};
    border: {{config['danger-button-hover']}}
}
.btn-info{
    background-color: {{config['info-button'] }};
    color: {{ config['info-button-text-color'] }};
    border: {{ config['info-button'] }}
}
.btn-info:focus, .btn-info:hover, .btn-info:active:focus{
    background-color: {{config['info-button-hover'] }};
    color: {{ config['info-button-hover-text-color'] }};
    border: {{ config['info-button-hover'] }};
}
.btn-warning{
    background-color: {{config['warning-button'] }};
    color: {{ config['warning-button-text-color'] }};
    border: {{config['warning-button']}}
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active:focus{
    background-color: {{config['warning-button-hover'] }};
    color: {{ config['warning-button-hover-text-color'] }};
    border: {{config['warning-button-hover']}}
}
.form-control{
    background-color:{{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.tab-content{
    background:{{ config['background-color'] }}
}
.well{
    background:{{ config['well-bg'] }}
}
span{
    color: {{ config['text-color'] }};
}
span.timestamp{
    color: {{ config['timestamp'] }};
}
span.response{
    color: {{ config['text-color'] }}
}
span.operator{
    color: {{ config['operator'] }}
}
span.display{
    color: {{ config['display'] }}
}
table{
    background-color: {{config['background-color']}};
}
th{
    background-color: {{config['table-headers']}};
    color: {{config['text-color']}}
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  bottom: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: {{config['background-color']}};
  border-bottom: 1px solid {{config['text-color']}};
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: {{config['hover']}};
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: {{config['highlight']}} !important;
  color: {{config['highlight-text']}};
}
.dropdown-menu {
    background-color: {{ config['background-color'] }};
}

.nav-tabs > li> a:link{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:visited{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:hover{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:active{
    color: {{ config['text-color'] }};
}
.dropdown-menu > li > a{
    background-color: {{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.dropdown-menu > li > a:hover{
    background-color: {{ config['highlight'] }};
    color: {{ config['highlight-color'] }}
}
.modal-header {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-body {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-content {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
select {
    background-color: {{config['background-color']}};
}
input {
    background-color: {{config['background-color']}};
}
span.operation {
    color: {{ config['operation-color'] }}
}
.dropdown > .btn-primary {
    background-color: {{ config['interact-button-color']}};
    color: {{ config['interact-button-text']}}
}
.dropdown > .btn-info {
    background-color: {{ config['interact-button-dropdown'] }}
}
.navbar-nav > .dropdown > .dropdown-toggle > .caret{
    color: {{ config['top-caret'] }};
}
{% endblock %}