{% extends "base.html" %}

{% block body %}

<h2>Artifact Type Management</h2>

<div style="resize: vertical; overflow:visible" class="panel panel-primary" id="artifacts_table">
    <div class="panel-heading">Artifact Types</div>
        <table class="table table-condensed" >
            <tr>
                <th><b>Delete</b></th>
                <th><b>Edit</b></th>
                <th><b>Name</b></th>
                <th><b>Description</b></th>
            </tr>
        <!-- Repeat this for each base artifact -->
            <tr v-for="(artifact, i) in artifacts" :key="artifact.id">
                <td>
                    <button type="button" class="btn btn-danger btn-sm" @click="delete_button(i)">Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" @click="edit_button(i)">Edit</button>
                </td>
                <td>[[ artifact.name ]]</td>
                <td>[[ artifact.description ]]</td>
            </tr>
        <!-- End of the repeating -->
        </table>
</div>
<button type="button" class="btn btn-success btn-md" onclick="new_artifact_button()">New Base Artifact</button>
<!-- THIS IS OUR MODAL FOR NEW ARTIFACT -->
<div class="modal fade bs-example-modal-md" id="newArtifactModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>New Base Artifact</h3>
            </div>
              <div class="modal-body">
                  <h4>Name:</h4>
                  <input type="text" id="newArtifactName" size="80">
                  <h4>Description:</h4>
                  <textarea id="newArtifactDescription" cols="80" rows="20"></textarea>
              </div>
              <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" id="newArtifactSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR NEW ARTIFACT -->
<!-- THIS IS OUR MODAL FOR NEW ARTIFACT -->
<div class="modal fade bs-example-modal-md" id="editArtifactModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Edit Base Artifact</h3>
            </div>
              <div class="modal-body">
                  <h4>Name:</h4>
                  <input type="text" id="editArtifactName" size="80">
                  <h4>Description:</h4>
                  <textarea id="editArtifactDescription" cols="80" rows="20"></textarea>
              </div>
              <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" id="editArtifactSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR NEW ARTIFACT -->
{% endblock %}

{% block scripts %}
{% include "artifacts_management.js" %}
{% endblock %}

{% block body_config %}
body{
    background-color:{{ config['background-color'] }};
    color:{{ config['text-color'] }}
}
.panel-body{
    background:{{ config['background-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-primary{
    background:{{ config['background-color'] }}
}
.panel-primary > .panel-heading{
    background-image: none;
    background-color:{{ config['primary-pane'] }};
    color: {{config['primary-pane-text-color']}}
}
.panel-success{
    background:{{ config['background-color'] }}
}
.panel-success > .panel-heading{
    background-image: none;
    background-color:{{ config['success-pane'] }};
    color:{{ config['success-pane-text-color'] }}
}
.panel-warning{
    background:{{ config['background-color'] }}
}
.panel-warning > .panel-heading{
    background-image: none;
    background-color:{{ config['warning-pane'] }};
    color: {{config['warning-pane-text-color'] }}
}
.panel-info{
    background:{{ config['background-color'] }}
}
.panel-info > .panel-heading{
    background-image: none;
    background-color:{{ config['info-pane'] }};
    color:{{config['info-pane-text-color'] }}
}
.panel-footer{
    background:{{ config['background-color'] }}
}
.btn{
    background-color: {{ config['general-button'] }};
    color: {{ config['general-button-text-color'] }};
    border: {{ config['general-button'] }}
}
.btn-primary{
    background-color: {{ config['primary-button'] }};
    color: {{ config['primary-button-text-color'] }};
    border: {{ config['primary-button'] }}
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus{
    background-color: {{ config['primary-button-hover'] }};
    color: {{ config['primary-button-hover-text-color'] }};
    border: {{ config['primary-button-hover'] }}
}
.btn-success{
    background-color: {{config['success-button'] }};
    color: {{ config['success-button-text-color'] }};
    border: {{config['success-button']}}
}
.btn-success:hover, .btn-success:focus, .btn-success:active:focus{
    background-color: {{config['success-button-hover'] }};
    color: {{ config['success-button-hover-text-color'] }};
    border: {{config['success-button-hover']}}
}
.btn-danger{
    background-color: {{config['danger-button'] }};
    color: {{ config['danger-button-text-color'] }};
    border: {{config['danger-button']}}
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active:focus{
    background-color: {{config['danger-button-hover'] }};
    color: {{ config['danger-button-hover-text-color'] }};
    border: {{config['danger-button-hover']}}
}
.btn-info{
    background-color: {{config['info-button'] }};
    color: {{ config['info-button-text-color'] }};
    border: {{ config['info-button'] }}
}
.btn-info:focus, .btn-info:hover, .btn-info:active:focus{
    background-color: {{config['info-button-hover'] }};
    color: {{ config['info-button-hover-text-color'] }};
    border: {{ config['info-button-hover'] }};
}
.btn-warning{
    background-color: {{config['warning-button'] }};
    color: {{ config['warning-button-text-color'] }};
    border: {{config['warning-button']}}
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active:focus{
    background-color: {{config['warning-button-hover'] }};
    color: {{ config['warning-button-hover-text-color'] }};
    border: {{config['warning-button-hover']}}
}
.form-control{
    background-color:{{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.tab-content{
    background:{{ config['background-color'] }}
}
.well{
    background:{{ config['well-bg'] }}
}
span{
    color: {{ config['text-color'] }};
}
span.timestamp{
    color: {{ config['timestamp'] }};
}
span.response{
    color: {{ config['text-color'] }}
}
span.operator{
    color: {{ config['operator'] }}
}
span.display{
    color: {{ config['display'] }}
}
table{
    background-color: {{config['background-color']}};
}
th{
    background-color: {{config['table-headers']}};
    color: {{config['text-color']}}
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  bottom: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: {{config['background-color']}};
  border-bottom: 1px solid {{config['text-color']}};
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: {{config['hover']}};
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: {{config['highlight']}} !important;
  color: {{config['highlight-text']}};
}
.dropdown-menu {
    background-color: {{ config['background-color'] }};
}

.nav-tabs > li> a:link{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:visited{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:hover{
    color: {{ config['text-color'] }};
}
.nav-tabs > li> a:active{
    color: {{ config['text-color'] }};
}
.dropdown-menu > li > a{
    background-color: {{ config['background-color'] }};
    color: {{ config['text-color'] }}
}
.dropdown-menu > li > a:hover{
    background-color: {{ config['highlight'] }};
    color: {{ config['highlight-color'] }}
}
.modal-header {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-body {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
.modal-content {
    background-color: {{config['background-color']}};
    color: {{config['text-color']}};
}
select {
    background-color: {{config['background-color']}};
}
input {
    background-color: {{config['background-color']}};
}
span.operation {
    color: {{ config['operation-color'] }}
}
.dropdown > .btn-primary {
    background-color: {{ config['interact-button-color']}};
    color: {{ config['interact-button-text']}}
}
.dropdown > .btn-info {
    background-color: {{ config['interact-button-dropdown'] }}
}
.navbar-nav > .dropdown > .dropdown-toggle > .caret{
    color: {{ config['top-caret'] }};
}
textarea {
    background: {{config['background-color']}};
    color: {{config['text-color']}};
}
{% endblock %}