<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Apfell</title>
    {% else %}
    <title>Welcome - Apfell</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" align="top">

                <a class="navbar-brand" href="{{ links.index }}"><img src="/apfell-dark.png" style="width:35px;height:40px"></a>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- These are the links across the top, above this is the main icon/name for home -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Manage Operations <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ links.callbacks }}">View Current Operation</a></li>
                            <li><a href="{{ links.screencapture_management}}">View Operation's Screencaptures</a></li>
                            <li><a href="{{ links.database_management }}">Database Management</a></li>
                            <li><a href="{{ links.payload_management }}">Payload Management</a></li>
                            <li><a href="{{ links.analytics }}">Analytics Dashboard</a></li>
                            <li><a href="{{ links.c2profile_management }}">C2 Profiles Management</a></li>
                            <li><a href="{{ links.operations_management }}">Operations Management</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Create Payloads <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ links.payloads_creation }}">Create Base Payload</a></li>
                            <li role="separator" class="divider"></li>
                            <li class='disabled'><a href="#">Foreign Payload - Empire OSX</a></li>
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Services <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ links.attacks_host_file }}">Host Files</a></li>
                            <li class="disabled"><a href="#">Macro Generation</a></li>
                            <li class="disabled"><a href="#">Bash Obfuscation</a></li>
                            <li class="disabled"><a href="#">JavaScript Obfuscation</a></li>
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            API <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ links.apiui_commandlines }}">CommandLines</a></li>
                            <li><a href="{{ links.apiui_documentation }}">Documentation</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ links.apiui_apfell_jxa }}">apfell-jxa help</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Reporting <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="disabled"><a href="#">ATT&CK Mappings</a></li>
                            <li><a href="{{links.full_timeline}}">Full Timeline</a></li>
                            <li role="separator" class="divider"></li>
                            <li><h5 class="dropdown-header">Component Reports</h5></li>
                            <li class="disabled"><a href="#">Operators</a></li>
                            <li class="disabled"><a href="#">Hosts</a></li>
                            <li class="disabled"><a href="#">Compromised Users</a></li>
                            <li class="disabled"><a href="#">Callbacks</a></li>
                            <li class="disabled"><a href="#">Days</a></li>
                        </ul>
                    </li>
                    {% if name %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false">Profile ({{name}})<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                    <li><a href="{{ links.logout }}">Logout</a></li>
                        <li><a href="{{ links.settings }}">Settings</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4 style="color:green">Current Operation: {{links.current_operation}}</h4>
                    </li>
                    {% else %}
                    <li><a href="{{ links.login }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div id="main" class="container-fluid">

    {% block body %}{% endblock %}
    </div>
    <script type="text/javascript">
    {% block scripts %}{% endblock %}
    </script>
</body>
</html>
