{% extends "base.html" %}
{% block body %}

<h1>
    C2 Profile Management
</h1>
<p>
    Note: The running status for these profiles is stored in the database. If you just shut down the server without stopping each non-default C2 profile, the database will become out of sync with reality.
</p>
<p>
    If this happens, you will run into odd errors. When you start the server back up, click stop on each profile, then start the ones you want to use back up again.
</p>
<div style="resize: vertical; overflow:visible" class="panel panel-primary" id="c2profiles_table">
    <div class="panel-heading">Current C2 Profile Information</div>
        <table class="table table-striped table-hover table-condensed" >
            <tr>
                <td><b>Delete</b></td>
		        <td><b>Update</b></td>
                <td><b>Running</b></td>
                <td><b>Creator</b></td>
                <td><b>Name</b></td>
                <td><b>Description</b></td>
                <td><b>Payload Types</b></td>
            </tr>
        <!-- Repeat this for each web service -->
            <tr v-for="p in profiles" :key="p.name">
                <td>
                    <div v-if="p.name == 'default'">Cannot Delete</div>
                    <div v-else>
                        <button type="button" class="btn btn-danger btn-sm" @click="delete_button(p)" >Delete</button>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" @click="update_button(p)">Update</button>
                </td>
                <td>
                    <div v-if="p.name == 'default'">Yes</div>
                    <div v-else-if="p.running">
                        <button type="button" class="btn btn-danger btn-sm" @click="running_button(p)">Stop</button>
                    </div>
                    <div v-else>
                        <button type="button" class="btn btn-success btn-sm" @click="running_button(p)">Start</button>
                    </div>
                </td>

                <td>[[ p.operator ]]</td>
                <td>[[ p.name ]]</td>
                <td>[[ p.description ]]</td>
		        <td>[[ p.payload_types.join(", ") ]]</td>
            </tr>
        <!-- End of the repeating -->
        </table>
</div>
<!-- THIS IS OUR MODAL FOR DELETING PROFILE -->
<div class="modal fade bs-example-modal-sm" id="profileDeleteModal" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="modalLabel">Are you sure? This could have implications elsewhere.</h3>
                Remove the specified C2 Profile from the database.
            </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" id="profileDeleteSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR DELETING PROFILE -->
<!-- THIS IS OUR MODAL FOR UPDATING A PROFILE -->
<div class="modal fade bs-example-modal-md" id="profileUpdateModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3 id="updateLabel">Update the current C2 profile</h3>
		Update the current profile's description, name, and/or supported payload types.
	    </div>
	    <div class="modal-body" id="profileUpdateBody">
            <table cellpadding="10" style="width:100%">
                <tr>
                    <td style="width:150px">Name</td>
                    <td><input type="text" id="profileUpdateName" size="50" disabled></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td> <input type="text" id="profileUpdateDescription" size="50"></td>
                </tr>
                <tr>
                    <td>Supported Payloads</td>
                    <td>
                        <select multiple id="profileUpdatePayloads">
                        </select>
                    </td>
                </tr>
            </table>
        </div>
	    <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" data-dismiss="modal" id="profileUpdateSubmit">Submit</button>
	    </div>
	</div>
    </div>
</div>
<!-- END MODAL FOR UPDATING A PROFILE -->
<!-- THIS IS OUR MODAL FOR CREATING A PROFILE -->
<div class="modal fade bs-example-modal-md" id="profileCreateModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3 id="createLabel">Register C2 profile</h3>
		Register a new profile's description, name, and supported payload types. The name must be unique and the
            locations of the server/stubs must adhere to a specific location as defined in /app/c2_profiles/how_to_add_c2profile.txt
	    </div>
	    <div class="modal-body" id="profileCreateBody">
            <table cellpadding="10" style="width:100%">
                <tr>
                    <td style="width:150px">Name</td>
                    <td><input type="text" id="profileCreateName" size="50"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td> <input type="text" id="profileCreateDescription" size="50"></td>
                </tr>
                <tr>
                    <td>Supported Payloads</td>
                    <td>
                        <select multiple id="profileCreatePayloadTypes">
                        </select>
                    </td>
                </tr>
            </table>
        </div>
	    <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" data-dismiss="modal" id="profileCreateSubmit">Submit</button>
	    </div>
	</div>
    </div>
</div>
<!-- END MODAL FOR CREATING A PROFILE -->
<button type="button" class="btn btn-success btn-md" onclick="register_button()">Register C2 Profile</button>
{% endblock %}

{% block scripts %}
{% include "shared_javascript.js" %}
{% include "c2profile_management.js" %}
{% endblock %}
