{% extends "base.html" %}
{% block body %}
<div style="resize: vertical; overflow:visible" class="panel panel-primary" id="callback_table">
    <div class="panel-heading">Current callbacks</div>
        <table class="table table-striped table-hover table-condensed" >
            <tr>
                <td></td>
                <td><b>Host</b></td>
                <td><b>IP</b></td>
                <td><b>User</b></td>
                <td><b>PID</b></td>
                <td><b>Initial Checkin</b></td>
                <td><b>Last Checkin</b></td>
                <td><b>Type</b></td>
                <td><b>Spawning Operator</b></td>
                <td><b>Description</b></td>
            </tr>
        <!-- Repeat this for each callback -->
            <tr v-for="callback in callbacks" :key="callback.id">
                <td>
                    <!-- Split button -->
                    <div class="btn-group dropdown">
                      <button type="button" class="btn btn-primary btn-sm" @click="interact_button(callback)">Interact</button>
                      <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                          <li class='disabled' ><a href="#">Keystrokes</a></li>
                          <li class="disabled"><a href="#">Screenshots</a></li>
                          <li><a @click="spawn_menu(callback)" href="#">spawn menu</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a @click="hide_tasks(callback)" href="#">Hide Tasks</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a @click="exit_callback(callback)" href="#">Exit Callback</a></li>
                          <li><a @click="remove_callback(callback)" href="#">Remove Callback</a></li>
                      </ul>
                    </div>
                </td>
                <td>[[ callback.host ]]</td>
                <td>[[ callback.ip   ]]</td>
                <td>[[ callback.user ]]</td>
                <td>[[ callback.pid  ]]</td>
                <td>[[ callback.init_callback ]]</td>
                <td>[[ callback.real_time  ]]</td>
                <td>[[ callback.payload_type ]]</td>
                <td>[[ callback.operator      ]]</td>
                <td>[[ callback.description   ]]</td>
            </tr>
        <!-- End of the repeating -->
        </table>
</div>
<div class="panel panel-info" id="bottom-data">
    <!-- Tabs at the bottom of the screen - just the names at the top though-->
    <ul class="nav nav-tabs" role="tablist" id="bottom-tabs">
        <li v-for="metadata in meta" v-if="metadata.tasks" role="button">
            <a v-bind:href="'#tasks' + metadata.id" v-bind:aria-controls="'tasks' + metadata.id" role="button" data-toggle="tab" @click="select_tab([[metadata.display]],[[metadata.id]])">[[metadata.display]]</a>
        </li>
    </ul>
    <!-- Now actually deal with the content in each tab-->
    <div class="tab-content" id="bottom-tabs-content" style="overflow:auto;resize:vertical">
        <div v-for="metadata in meta" role="tabpanel" class="tab-pane" v-if="metadata.tasks" v-bind:id="'tasks' + metadata.id" >
            <div class="well-sm pre-scrollable "  v-bind:id="'tasks' + metadata.id + 'data'" style="overflow:auto;resize:vertical">
                <!-- REPEAT for each task for the specific callback that's selected -->
                <span v-for="task in metadata.data" :key="task.id">
                    <font color="green">([[task.operator]])</font>&nbsp;
                    <font color="red">[[callback_table.callbacks[task.callback].user]]@[[callback_table.callbacks[task.callback].host]]([[callback_table.callbacks[task.callback].pid]])#&nbsp;</font>
                    [[task.command]]&nbsp;[[task.params]]<br>
                    <span v-for="rsp in task.response" :key="rsp.id" style="white-space: pre-wrap">
                        <font color="blue">([[rsp.timestamp]])</font>
                        <font color="black">[[rsp.response]]</font><br>
                    </span>
                    <br>
                </span>
                <!-- END REPEAT-->
            </div>
        </div>
    </div>
    <div class="panel-footer" >
        <div class="input-group mb-3">
            <input id="commandline" type="text" class="form-control" v-model="input_field"
                   v-bind:placeholder="input_field_placeholder.data" aria-describedby="basic-addon1"
                   @keyup.enter="task_button(input_field_placeholder)">
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger" @click="task_button(input_field_placeholder)">Submit Task</button>
            </span>
        </div>
    </div>
</div>
<!-- THIS IS OUR MODAL FOR SPAWN MENU -->
<div class="modal fade bs-example-modal-sm" id="spawnModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="myModalLabel">Spawn Menu</h3>
            </div>
              <div class="modal-body" id="spawnBody">
                  <h4>Select Spawn Method:</h4>
                  <select id="spawnMethod">
                      <option value="spawn shell_api oneliner">shell_api oneliner</option>
                  </select>
                  <h4>Select payload to use:</h4>
                  <select id="spawnPayload">
                      <option value="-1">use current callback's payload</option>
                  </select>
                  <br>
                  <h4>Use new tag:<input type="checkbox" id="spawnNewTag"></h4>
                  <input type="text" name="tag" id="spawnTag">
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" id="spawnSubmit">Submit</button>
              </div>
        </div>
    </div>
</div>
<!-- END MODAL FOR SPAWN MENU -->
{% endblock %}

{% block scripts %}
{% include "callbacks.js" %}
{% include "shared_javascript.js" %}
{% endblock %}
