{% extends "base.html" %}
{% block body %}

<h2>Operation {{current_operation}}'s Files (Uploaded and Downloaded)</h2>

<div id="files_div">
    <div v-for="(data, host, i) in hosts.downloads" style="resize: vertical; overflow:scroll" class="panel panel-success" v-if="host.length > 0">
        <div class="panel-heading" >[[host]] Downloads</div>
            <div v-for="(file,i) in data" :key="file.id">
                <div v-if="file.complete" style="background-color: #eee;border: 2px solid #ADD8E6; width: 100%">
                    <a :href='file.remote_path' style="color:black;"><font size="4">[[file.operator]]'s download ([[file.id]]): <b>[[file.short_path]]</b></font></a>
                </div>
                <div v-else style="background-color: #ffd8d8;color: #444;border: 2px solid #ADD8E6">
                    <a href="#" style="color:black;"><font size="4">[[file.operator]]'s download ([[file.id]]): [[file.short_path]]. Parts [[file.chunks_received]] of [[file.total_chunks]] received so far.</font></a>
                </div>
            </div>
    </div>
    <div v-for="(data, host, i) in hosts.uploads" style="resize: vertical; overflow:scroll" class="panel panel-warning" v-if="host.length > 0">
        <div class="panel-heading" >[[host]] Uploads</div>
            <div v-for="(file,i) in data" :key="file.id" style="background-color:#eee;border: 2px solid #ADD8E6;width:100%">
                <a :href='file.remote_path' style="color:black;"><font size="4">[[file.operator]]'s upload from <b>[[file.path]]</b>([[file.id]]) to <b>[[file.upload.split(" ").slice(1,).join(" ")]]</b></font></a>
            </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% include "shared_javascript.js" %}
{% include "files.js" %}
{% endblock %}
