{% extends "base.html" %}
{% block body %}

<h2>Operation {{current_operation}}'s Keylogs</h2>

<div class="btn-group">
    <button class="btn btn-info btn-sm" onclick="host_window()">Group by Host/Window</button>
    <button class="btn btn-info btn-sm" onclick="host_time()">Group by Host/Time</button>
    <button class="btn btn-info btn-sm" onclick="user_window()">Group by User/Window</button>
    <button class="btn btn-info btn-sm" onclick="user_time()">Group by User/Time</button>
</div><br><br>


<div id="keylog_div">
    <div v-for="(group, key, index) in keylogs" style="resize: vertical; overflow:scroll" class="panel panel-primary">
        <div class="panel-heading">[[key.toString()]]'s Keylog Data</div>
            <!-- CONFIGURE THE DISPLAY FOR IF WE'RE GROUPING BY WINDOW -->
            <div v-for="(window, key2, index2) in group" v-if="data.sub_grouping == 'window'">
                Keystrokes from <font color="red">[[window[0].user]]</font> in window <font color="green">[[window[0].window]]</font>
                <span v-if="data.grouping == 'user'"> on <font color="purple">[[window[0].callback.host]]</font></span> <br>
                <div v-for="log in window">
                    <font color="blue">([[log.timestamp]])</font>
                    <font color="black">[[log.keystrokes]]</font>
                </div>
            </div>
            <!-- CONFIGURE THE DISPLAY FOR IF WE'RE GROUPING BY TIME -->
            <div v-for="(log, key2, index2) in group" v-if="data.sub_grouping == 'time'" :key="key2">
                Keystrokes from <font color="red">[[log.user]]</font> in window <font color="green">[[log.window]]</font>
                <span v-if="data.grouping == 'user'"> on <font color="purple">[[log.callback.host]]</font></span> <br>
                <font color="blue">([[log.timestamp]])</font>
                <font color="black">[[log.keystrokes]]</font>
            </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
{% include "shared_javascript.js" %}
{% include "keylogs.js" %}
{% endblock %}
