{% extends "base.html" %}
{% block body %}

<div class="block1">
    <h1>Welcome to Apfell, where nothing is a bug and everything is a feature</h1>
    <p>
        Apfell is meant to be a post-exploit, collaborative, red teaming framework for macOS. Everything is open sourced as well. <br>
        Check out <a href="https://its-a-feature.github.io">my github website</a> for more information on the process of creating Apfell, code repos, and blog posts on updates.<br>
    </p>
    <p>
        This is the initial, bare-bones release of Apfell that accompanies my <a href="https://its-a-feature.github.io">Creating an Apfell</a> blog series.
    </p>
    <h4> Be sure to go to "Manage Operations"->"Operations Management" and make an operation your "current operation"</h4>
    <table>
        <tr>
            <td>
                <h3>
                    Future Updates
                </h3>
                <ul>
                    <li>More payload formats</li>
                    <li>Obfuscation</li>
                    <li>More C2 profile examples</li>
                    <li><del>Custom command creation</del></li>
                    <li><del>Custom payload type creation</del></li>
                    <li>More Analytics</li>
                    <li>Scripting Engine</li>
                    <li><del>plist Creation</del></li>
                </ul>
            </td>
            <td>
                <img src="/apfell-white.png" width="350px" height="400px">
            </td>
        </tr>
    </table>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}