{% extends "base.html" %}
{% block body %}
<h1>Register</h1>
<form action="" method="post">
    {{ form.csrf_token }}
    <span style="color: red;">{{ errors.validate_errors }}</span>
    <table>
        <tr>
            <td>{{ form.username.label }}</td>
            <td>{{ form.username(size=32) }}
                <br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>{{ form.password.label }}</td>
            <td>{{ form.password(size=32) }}
                <br>
                {% for error in form.password.errors %}
                 <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>{{ form.password2.label }}</td>
            <td>{{ form.password2(size=32) }}
                <br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>{{ form.submit() }}</td>
            <td></td>
        </tr>
    </table>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}