{% extends "base.html" %}
{% block body %}

<div>
    <input type="text" id="searchTextField" size="60" placeholder="Search... wildcards both sides automaically" height="7">
    <button class="btn btn-md btn-primary" onclick="search_task_output()">Search Task Output</button>
</div>
<div id="searchResults">
    Search returned: [[responses.length]] Results
    <div v-for="r in responses" style="resize: vertical; overflow:scroll" class="panel panel-info" :key="r.id">
        <div class="panel-heading" >Response [[r.id]] on callback [[r.task.callback]] - [[r.task.operator]]'s task: [[r.task.command]] [[r.task.params]]</div>
        <span style="white-space: pre-wrap">
            <font color="blue">([[toLocalTime(r.timestamp)]])</font>
            <font color="black">[[r.response]]</font>
        <br>
    </span>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include "search.js" %}
{% endblock %}