{% extends "base.html" %}
{% block body %}

<h2>Operation {{current_operation}}'s Tasks</h2>

<div id="tasks_div">
    <div v-for="callback in callbacks" style="resize: vertical; overflow:scroll" :class="callback.active ? 'panel panel-primary' : 'panel panel-warning'" id="'callback'+callback.id" :key="callback.id" v-show="Object.keys(callback.tasks).length > 0">
        <div class="panel-heading" >Tasks for Callback: [[callback.user]]@[[callback.host]] with pid ([[callback.pid]]) <button v-if="!callback.active" class="btn btn-sm btn-success" @click="make_active(callback)">Make Callback Active</button></div>
            <div v-if="callback.hasOwnProperty('tasks')">
                <div v-for="(t,i) in callback.tasks" :key="t.id">

                    <button class="accordion" :id="'task' + t.id" style="background-color: #eee;color: #444;width: 100%;border: 2px solid #ADD8E6;text-align: left;" @click="toggle_response(t, i)">[[t.operator]]'s task [[t.id]]: [[t.command]] [[t.params]]</button>
                    <div v-if="t.hasOwnProperty('responses')">
                        Command: [[t.command]] [[t.params]]<br>
                        <span v-if="t.hasOwnProperty('responses')" v-for="r in t.responses" :key="r.id" style="white-space: pre-wrap">
                            <font color="blue">([[toLocalTime(r.timestamp)]])</font>
                            <font color="black">[[r.response]]</font>
                        </span>
                        <br>
                    </div>
                </div>
            </div>
    </div>
</div>



{% endblock %}
{% block scripts %}
{% include "view_tasks.js" %}
{% endblock %}
